<div class="w3-container w3-bar w3-top w3-card-2" id="topBarHome">


    <a class="w3-bar-item w3-button" id="homeLinkHome" ng-click="goToDashboard()"><i
            class="glyphicon glyphicon-home w3-large"></i></a>
    <a class="w3-bar-item w3-button" id="userLinkHome" ng-click="goToSearchCrew()"><i
            class="glyphicon glyphicon-user w3-large"></i> Search Crew</a>
    <a class="w3-bar-item w3-button" id="projectsLinkHome"><i class="glyphicon glyphicon-film w3-large"></i> Search Projects</a>


    <!--
        <div class="w3-bar-item w3-dropdown-click" id="typeSearchHome">
            <a ng-click="showSearchItem()" class=" glyphicon glyphicon-search w3-large" id="searchIconHome"></a>
            <div class="w3-dropdown-content w3-bar-block w3-border" id="typeSearchContentHome">
                <a href="#" class="w3-bar-item w3-button"><i class="glyphicon glyphicon-user"></i> Search Troupers</a>
                <a href="#" class="w3-bar-item w3-button"><i class="glyphicon glyphicon-project"></i> Search Projects</a>
            </div>
        </div>
        <input class="w3-input w3-border" type="text" id="searchBarHome">-->

    <form id="searchItemHome">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
        </div>
    </form>


    <div class="w3-bar-item w3-dropdown-click w3-right" id="logoBarHome" ng-click="showLogoItem()">
        {{profile.name}}
        <div class="w3-dropdown-content w3-bar-block w3-border w3-right" id="logoBarContentHome">
            <a ng-click="goToMyPublicProfile()" class="w3-bar-item w3-button"><i class="glyphicon glyphicon-user w3-large"></i> Your Public
                Profile</a>
            <a ng-click="goToEditProfile()" class="w3-bar-item w3-button"><i
                    class="glyphicon glyphicon-pencil w3-large"></i> Edit Profile</a>
            <a ng-click="logout()" class="w3-bar-item w3-button"><i class="glyphicon glyphicon-off w3-large"></i> Logout</a>
        </div>
    </div>

    <div id="logoBarImgContainerHome">
        <img class="w3-content" id="logoBarImgHome" alt="logo">
    </div>

</div>

<div id="bodyHome" class="w3-container w3-col l12 s12 m12">
    <div id="sideUserHome" class="w3-col l3 m3 s3 w3-card-2">
        <h3 id="userNameAndLastHome">{{profile.name}} {{profile.lastName}}</h3>
        <p id="userRolesHome"></p>
        <p id="userCityHome"></p>
        <img id="userPhotoHome">
        <br>
        <a ng-click="goToMyProjects()" class="w3-bar-item" id="userProjectHome">My Projects <i
                class="glyphicon glyphicon-film w3-large"></i></a><br><br>
        <a ng-click="goToMyTroupers(profile.$id)" class="w3-bar-item" id="userTroupeHome">My Troupers <i class="glyphicon glyphicon-user w3-large"></i></a><br><br>
        <a ng-click="goToEditProfile()" class="w3-bar-item" id="editProfileLinkHome">Edit Profile <i
                class="glyphicon glyphicon-cog w3-large"></i></a>
    </div>

    <div id="editBlockContainer" class="w3-container w3-col l8 m8 s8 w3-card-2">

        <div id="editAccessContent" class="w3-container">
            <h3>Edit Credentials</h3>
            <form name="editCredentials" ng-model="editCredentials">
                <input id="editPEmail" name="editPEmail" ng-model="editPEmail" type="email" class="w3-input w3-border" placeholder="Email" required>
                <br>
                <input id="editPOldPassword" name="editPOldPW" ng-model="editPOldPW" type="password" class="w3-input w3-border" placeholder="Old password" required>
                <br>
                <input id="editPPassword" name="editPPW" ng-model="editPPW" type="password" class="w3-input w3-border" placeholder="New password" required>
                <br>
                <input id="editPConfPassword" name="editPConfirmPW" ng-model="editPConfirmPW" type="password" class="w3-input w3-border" placeholder="Confirm new password" required>
                <br>
                <button id="editCredentialsButton" class="w3-button w3-right" ng-click="updateCredentials()">Save new credentials</button>
            </form>
        </div>
        <br>
        <div id="editProfileContainer" class="w3-container">
            <h3>Edit Profile</h3>
            <form name="editPForm" ng-model="editPForm">
                <input id="editPName" name="editPName" ng-model="editPName" type="text" class="w3-input w3-border" placeholder="Name" required>
                <br>
                <input id="editPLastName" name="editPLastName" ng-model="editPLastName" type="text" class="w3-input w3-border" placeholder="Last Name" required>
                <br>
                <div class="w3-row-padding">
                    <div class="w3-half">
                        <input class="w3-radio" type="radio" ng-model="gender" ng-value="1"
                               id="editPMale"><label>Male</label>
                        <br>
                        <input class="w3-radio" type="radio" ng-model="gender" ng-value="0"
                               id="editPFemale"><label>Female</label>
                    </div>
                    <div class="w3-half">
                        <label>Date of birth
                            <input id="editPDateOfBirth" type="date" name="mydatetime">
                        </label>
                    </div>
                </div>
                <br>
                <input id="editPhone" type="text" class="w3-input w3-border" placeholder="Phone">
                <input id="editCheckPermPhone" type="checkbox" class="w3-check"><label>Permission to show</label>
                <br><br>
                <!--
                <select id="editCountry" ng-model="selectedCountry" ng-options="country for country in countries"
                        class="form-control w3-col s4 m4 l4" ng-change="loadProvinces(selectedCountry)" required>
                    <option value="" selected="selected">Select Country</option>
                </select>
                <select id="editProvince" ng-disabled="!selectedCountry" ng-model="selectedProvince" class="form-control w3-col s4 m4 l4"
                        ng-options="province for province in provinces" ng-change="loadCities(selectedProvince.valueOf())" required>
                    <option value="" selected="selected">Select Region or State</option>
                </select>
                <select id="editCity" ng-disabled="!selectedProvince" ng-model="selectedCity" class="form-control w3-col s4 m4 l4"
                        ng-options="city for city in cities" required>
                    <option value="" selected="selected">Select City</option>
                </select>
                <br><br>
                -->
                <div class="w3-container">
                    <div class="w3-col l5 m5 s5">
                        <h4>Do you have a car?</h4>
                        <form>
                            <input type="radio" ng-value="1" class="w3-radio" ng-model="carInfo" name="carInfo" id="editCarYes"><label>Yes</label>
                            <br>
                            <input type="radio" ng-value="0" class="w3-radio" ng-model="carInfo" name="carInfo" id="editCarNo"><label>No</label>
                        </form>
                    </div>
                    <div class="w3-col l5 m5 s5">
                        <h4>Do you work only under payment?</h4>
                        <form>
                            <input type="radio" ng-value="1" class="w3-radio" ng-model="payment" id="editPayYes"><label>Yes</label>
                            <br>
                            <input type="radio" ng-value="0" class="w3-radio" ng-model="payment" id="editPayNo"><label>No</label>
                        </form>
                    </div>
                </div>
                <br><br>
                <h4>Choose the areas that suit you the most</h4>
                <div class="w3-container">
                    <div class="w3-col l6 m6 s6">
                        <form>
                            <input id="checkEditAnim" type="checkbox" class="w3-check"><label> Animation</label>
                            <br>
                            <input id="checkEditAudio" type="checkbox" class="w3-check"><label> Audio/Music/Sound</label>
                            <br>
                            <input id="checkEditDP" type="checkbox" class="w3-check"><label> Camera Crew/DP</label>
                            <br>
                            <input id="checkEditArt" type="checkbox" class="w3-check"><label> Crew art/Design/Scenic/Construction</label>
                            <br>
                            <input id="checkEditDirect" type="checkbox" class="w3-check"><label> Director</label>
                            <br>
                            <input id="checkEditGraphicDes" type="checkbox" class="w3-check"><label> Graphic designer</label>
                            <br>
                            <input id="checkEditLight" type="checkbox" class="w3-check"><label> Lighting/Electric</label>
                        </form>
                    </div>
                    <div class="w3-col l6 m6 s6">
                        <form>
                            <input id="checkEditPhot" type="checkbox" class="w3-check"><label> Photographers</label>
                            <br>
                            <input id="checkEditPostProd" type="checkbox" class="w3-check"><label> Post Production People</label>
                            <br>
                            <input id="checkEditProducers" type="checkbox" class="w3-check"><label> Producers</label>
                            <br>
                            <input id="checkEditFX" type="checkbox" class="w3-check"><label> Special Effects Crew</label>
                            <br>
                            <input id="checkEditStyle" type="checkbox" class="w3-check"><label> Stylist/Vanities</label>
                            <br>
                            <input id="checkEditActor" type="checkbox" class="w3-check" ng-model="showActorSpec" ng-init="showActorSpec = false"><label> Talent/Actors</label>
                            <br>
                            <input id="checkEditCast" type="checkbox" class="w3-check"><label> Talent/Casting - People</label>
                        </form>
                    </div>
                    <br><br>
                    <div class="container w3-animate-opacity" ng-if="showActorSpec" id="editRaceBox">
                        <div class="w3-col s5 m5 l5 w3-animate-opacity" id="raceCheckBoxes">
                            <h4>If you are an actor, please specify your ethnicity</h4>
                            <form class="w3-container">
                                <input type="radio" value="1" class="w3-radio" ng-model="etn" id="etnEditCauc"> <label>Caucasian</label>
                                <br>
                                <input type="radio" value="2" class="w3-radio" ng-model="etn" id="etnEditHisp"><label>Latino/Hispanic</label>
                                <br>
                                <input type="radio" value="3" class="w3-radio" ng-model="etn" id="etnEditSAsi"> <label>South Asian</label>
                                <br>
                                <input type="radio" value="4" class="w3-radio" ng-model="etn" id="etnEditNati"> <label>Native American</label>

                            </form>
                        </div>
                        <div class="w3-col s5 m5 l5 w3-animate-opacity" id="raceCheckBoxes2">
                            <br><br>
                            <form class="w3-container">
                                <input type="radio" value="5" class="w3-radio" ng-model="etn" id="etnEditAfri"> <label>African Descent</label>
                                <br>
                                <input type="radio" value="6" class="w3-radio" ng-model="etn" id="etnEditMidd"><label>Middle Eastern</label>
                                <br>
                                <input type="radio" value="7" class="w3-radio" ng-model="etn" id="etnEditSEAs"><label>S/E Asian/Pacific Islander</label>
                                <br>
                                <input type="radio" value="8" class="w3-radio" ng-model="etn" id="etnEditAmbi"><label>Ethnically Ambiguous</label>

                            </form>
                        </div>
                    </div>
                    <p style="height: 20px; clear: both"></p>
                    <h4>About me</h4>
                    <div class="w3-container">
                        <form id="aboutMeForm">
                            <textarea placeholder="Describe yourself" ng-model="editAboutMeText" id="editAboutMeText"></textarea>
                        </form>
                    </div>
                </div>
                <br>
                <button id="editProfileButton" class="w3-button w3-right" ng-click="updateProfileB()">Save new profile's informations</button>

            </form>
        </div>

    </div>

</div>