#mainContainerApplications h4{
    color: white;
}

#mainContainerApplications{
    margin-left: 30px;
}

#applicationGeneralInfoContainer{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #b7c3b8;
}

#projectPic{
    background-image: url("../../images/lens_sat.jpg");
    background-size: cover;
    min-height: 150px;
}

#profileEquipmentContainer{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #b7c3b8;
}

#applicationContainer{
    padding-bottom: 30px;
    margin-top: 30px;
    padding-top: 20px;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5));
    background-color:#333333;
}

#applicationGeneralInfoContainer{
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5));
}

#projectApplicationPic{
    margin-bottom:20px;
    padding: 10px;
    border-radius: 4mm;
    background-color: #b7c3b8;
}