<div class="w3-container w3-bar w3-top w3-card-2" id="topBarHome">


    <a class="w3-bar-item w3-button" id="homeLinkHome" ng-click="goToDashboard()"><i
            class="glyphicon glyphicon-home w3-large"></i></a>
    <a class="w3-bar-item w3-button" id="userLinkHome" ng-click="goToSearchCrew()"><i
            class="glyphicon glyphicon-user w3-large"></i> Search Crew</a>
    <a class="w3-bar-item w3-button" id="projectsLinkHome" ng-click="goToSearchProjects()"><i
            class="glyphicon glyphicon-film w3-large"></i> Search Projects</a>


    <!--
        <div class="w3-bar-item w3-dropdown-click" id="typeSearchHome">
            <a ng-click="showSearchItem()" class=" glyphicon glyphicon-search w3-large" id="searchIconHome"></a>
            <div class="w3-dropdown-content w3-bar-block w3-border" id="typeSearchContentHome">
                <a href="#" class="w3-bar-item w3-button"><i class="glyphicon glyphicon-user"></i> Search Troupers</a>
                <a href="#" class="w3-bar-item w3-button"><i class="glyphicon glyphicon-project"></i> Search Projects</a>
            </div>
        </div>
        <input class="w3-input w3-border" type="text" id="searchBarHome">-->

    <form id="searchItemHome">
        <div class="input-group">
            <input id="searchItemHomeKeyword" type="text" class="form-control" placeholder="Search"
                   ng-submit="launchSearchInSearchPage()">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit" ng-click="launchSearchInSearchPage()">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
        </div>
    </form>

    <div class="w3-bar-item w3-right" id="logoChatBarHome"><span><a href="#!/usersList"><i
            class="w3-right glyphicon glyphicon-comment w3-xlarge" style="color: white;"></i></a></span></div>
    <div class="w3-bar-item w3-right w3-dropdown-hover" id="logoReminderBarHome">
        <span>
            <i class="w3-right glyphicon glyphicon-bell w3-xlarge" style="color: white;"></i>
        </span>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;mode=AGENDA&amp;height=200&amp;wkst=1&amp;bgcolor=%23999999&amp;src=r7sjqm37dleu42bjdb59r1j500%40group.calendar.google.com&amp;color=%23691426&amp;ctz=Europe%2FRome"
                    style="border-width:0" min-width="400" width="100%" height="300" frameborder="0" scrolling="no"></iframe>
            <a ng-repeat="reminder in dati.reminders | filter:{user: profile.$id} | filter:{date:dati.currentDate}" class="w3-bar-item w3-button">
                <i class="glyphicon glyphicon-exclamation-sign w3-large w3-center" style="padding-right:4px"></i>
                <strong>{{reminder.projectName}}:</strong> {{reminder.reminder}}</a>
        </div>
    </div>

    <div class="w3-bar-item w3-dropdown-click w3-right" id="logoBarHome" ng-click="showLogoItem()">
        {{profile.name}}
        <div class="w3-dropdown-content w3-bar-block w3-border w3-right" id="logoBarContentHome">
            <a ng-click="goToMyPublicProfile()" class="w3-bar-item w3-button"><i
                    class="glyphicon glyphicon-user w3-large"></i> Your Public
                Profile</a>
            <a ng-click="goToEditProfile()" class="w3-bar-item w3-button"><i
                    class="glyphicon glyphicon-pencil w3-large"></i> Edit Profile</a>
            <a ng-click="logout()" class="w3-bar-item w3-button"><i class="glyphicon glyphicon-off w3-large"></i> Logout</a>
        </div>
    </div>

    <div id="logoBarImgContainerHome">
        <img class="media-object" ng-src="../{{profile.img_url}}" alt="{{profile.img_alt}}"
             ng-if="!(profile.img_url.includes('https://firebasestorage.googleapis.com')) && profile.img_url!=''">
        <img class="media-object" ng-src="{{profile.img_url}}" alt="{{profile.img_alt}}"
             ng-if="profile.img_url.includes('https://firebasestorage.googleapis.com')">
        <img class="media-object" ng-src="../images/StormTroupersLogo.png" alt="{{profile.img_alt}}"
             ng-if="profile.img_url == ''">
    </div>

</div>

<div id="bodyHome" class="w3-container w3-col l12 s12 m12">
    <div id="sideUserHome" class="w3-col l3 m3 s3 w3-card-2">
        <h3 id="userNameAndLastHome">{{profile.name}} {{profile.lastName}}</h3>
        <p id="userRolesHome"></p>
        <p id="userCityHome"></p>
        <div id="userPhotoHome">
            <img class="media-object" ng-src="../{{profile.img_url}}" alt="{{profile.img_alt}}"
                 ng-if="!(profile.img_url.includes('https://firebasestorage.googleapis.com')) && profile.img_url!=''">
            <img class="media-object" ng-src="{{profile.img_url}}" alt="{{profile.img_alt}}"
                 ng-if="profile.img_url.includes('https://firebasestorage.googleapis.com')">
            <img class="media-object" ng-src="../images/StormTroupersLogo.png" alt="{{profile.img_alt}}"
                 ng-if="profile.img_url == ''">
        </div>
        <br>
        <a ng-click="goToMyProjects()" class="w3-bar-item" id="userProjectHome">My Projects <i
                class="glyphicon glyphicon-film w3-large"></i></a><br><br>
        <a ng-click="goToMyTroupers(profile.$id)" class="w3-bar-item" id="userTroupeHome">My Troupers <i
                class="glyphicon glyphicon-user w3-large"></i></a><br><br>
        <a ng-click="goToMyApplications()" class="w3-bar-item" id="userApplicationHome">My Applications <i
                class="glyphicon glyphicon-briefcase w3-large"></i></a><br><br>
        <a ng-click="goToEditProfile()" class="w3-bar-item" id="editProfileLinkHome">Edit Profile <i
                class="glyphicon glyphicon-cog w3-large"></i></a>
    </div>

    <div id="mainContainerProfile" class="w3-container w3-col l7 m7 s7" style="margin-left: 30px;">
        <div id="profileGeneralInfoContainer" class="w3-container  w3-col l12 m12 s12 w3-card-2"
             style="background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5));">

            <div id="profilePortfolioContainer" class="w3-container w3-row w3-col l12 m12 s12 w3-card-2"
                 style="margin-top: 30px; padding-top: 20px; background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5));background-color:#333333;">
                <div id="portfolioContainer" class="w3-container">
                    <h4>Applications for:</h4>

                    <div class="w3-col s12 m12 l12">
                        <div style="color: white;"
                             ng-repeat="appl in dati.applications | filter:{sender: dati.userId}">
                            <ul style="list-style: none">
                                <li ng-repeat="proj in dati.filterProjects | filter:{$id: appl.project}">
                                    <div id="projectPic2" class=" w3-container w3-card-2 w3-col s5 m5 l5"
                                         style="padding: 10px; border-radius: 4mm; background-color: #b7c3b8;">
                                        <h3 style="color: white;text-shadow: 2px 2px 2px #333333;cursor: pointer;"
                                            ng-click="goToPublicProjectPage(proj.$id)">
                                            {{proj.title}}
                                        </h3>
                                    </div>

                                    <div class="w3-col s6 m6 l6" style="color: white; margin-left:20px;">
                                        <h4>Roles I applied for: {{appl.roles}}</h4>
                                        <h4>Message you sent: <em>{{appl.motivationalMsg}}</em><br></h4>
                                    </div>

                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

            <br>
        </div>
    </div>

</div>