#friendsContainer{
    padding-top: 30px;
    padding-bottom: 30px;
}

#userDesc{
    color: #636466;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items:center;
    vertical-align: middle;
}

#friendsPicture {
    content: url("../../images/upload_pic.jpg");
    max-width: 90%;
}