#mainContainerProfile h4{
    color: white;
}

#profileGeneralInfoContainer{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #b7c3b8;
}

#profileProjectsContainer{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #b7c3b8;
}

#profileLikedProjectsContainer{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #b7c3b8;
}

#profileFriendsContainer{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #b7c3b8;
}

#profileEquipmentContainer{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #b7c3b8;
}

#profilePortfolioContainer{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #b7c3b8;
}

#profileFeedbackContainer{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #b7c3b8;
}

#profilePicture img{
    max-width: 90%;
    padding-right: 25px;
}

#projectPic{
    background-image: url("../../images/troopers.jpg");
    background-size: cover;
    min-height: 150px;
    padding: 10px; border-radius: 4mm; background-color: #b7c3b8;
}

#projectPic a:hover{
    cursor: pointer;
}

#projectPic2{
    background-image: url("../../images/lens_sat.jpg");
    background-size: cover;
    min-height: 150px;
}

#projectPic2 a:hover{
    cursor: pointer;
}

#newPDesc{
    color: #636466;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items:center;
    vertical-align: middle;
}

#newPDesc h4{
    color: #636466;
}

#newPDesc2{
    color: #636466;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items:center;
    vertical-align: middle;
}

#newPDesc2 h4{
    color: #636466;
}

#sendTheFeedback{
    background-color: #636466;
    color: white;
}


/* Per le stelle di valutazione, crivete il resto sopra questa parte*/
form .stars {
    background: url("../../images/stars.png") repeat-x 0 0;
    width: 150px;
    margin: 0 auto;
}
form .stars input[type="radio"] {
    position: absolute;
    opacity: 0;
    filter: alpha(opacity=0);
}
form .stars input[type="radio"].star-5:checked ~ span {
    width: 100%;
}
form .stars input[type="radio"].star-4:checked ~ span {
    width: 80%;
}
form .stars input[type="radio"].star-3:checked ~ span {
    width: 60%;
}
form .stars input[type="radio"].star-2:checked ~ span {
    width: 40%;
}
form .stars input[type="radio"].star-1:checked ~ span {
    width: 20%;
}
form .stars label {
    display: block;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    text-indent: -999em;
    float: left;
    position: relative;
    z-index: 10;
    background: transparent;
    cursor: pointer;
}
form .stars label:hover ~ span {
    background-position: 0 -30px;
}
form .stars label.star-5:hover ~ span {
    width: 100%;
}
form .stars label.star-4:hover ~ span {
    width: 80%;
}
form .stars label.star-3:hover ~ span {
    width: 60%;
}
form .stars label.star-2:hover ~ span {
    width: 40%;
}
form .stars label.star-1:hover ~ span {
    width: 20%;
}
form .stars span {
    display: block;
    width: 0;
    position: relative;
    top: 0;
    left: 0;
    height: 30px;
    background: url("../../images/stars.png") repeat-x 0 -60px;
    -webkit-transition: -webkit-width 0.5s;
    -moz-transition: -moz-width 0.5s;
    -ms-transition: -ms-width 0.5s;
    -o-transition: -o-width 0.5s;
    transition: width 0.5s;
}