<div class="w3-container w3-bar w3-top w3-card-2" id="topBarHome">


    <a class="w3-bar-item w3-button" id="homeLinkHome" ng-click="goToDashboard()"><i
            class="glyphicon glyphicon-home w3-large"></i></a>
    <a class="w3-bar-item w3-button" id="userLinkHome" ng-click="goToSearchCrew()">Search Crew</a>
    <a class="w3-bar-item w3-button" id="projectsLinkHome" ng-click="goToSearchProjects()">Search Projects</a>


    <!--
        <div class="w3-bar-item w3-dropdown-click" id="typeSearchHome">
            <a ng-click="showSearchItem()" class=" glyphicon glyphicon-search w3-large" id="searchIconHome"></a>
            <div class="w3-dropdown-content w3-bar-block w3-border" id="typeSearchContentHome">
                <a href="#" class="w3-bar-item w3-button"><i class="glyphicon glyphicon-user"></i> Search Troupers</a>
                <a href="#" class="w3-bar-item w3-button"><i class="glyphicon glyphicon-project"></i> Search Projects</a>
            </div>
        </div>
        <input class="w3-input w3-border" type="text" id="searchBarHome">-->

    <form id="searchItemHome">
        <div class="input-group">
            <input id="searchItemHomeKeyword" type="text" class="form-control" placeholder="Search" ng-submit="launchSearchInSearchPage()">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit" ng-click="launchSearchInSearchPage()">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
        </div>
    </form>

    <div class="w3-bar-item w3-right" id="logoChatBarHome"><span><a href="#!/usersList"><i
            class="w3-right glyphicon glyphicon-comment w3-xlarge" style="color: white;"></i></a></span></div>
    <div class="w3-bar-item w3-right w3-dropdown-hover" id="logoReminderBarHome">
        <span>
            <i class="w3-right glyphicon glyphicon-bell w3-xlarge" style="color: white;"></i>
        </span>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;mode=AGENDA&amp;height=200&amp;wkst=1&amp;bgcolor=%23999999&amp;src=r7sjqm37dleu42bjdb59r1j500%40group.calendar.google.com&amp;color=%23691426&amp;ctz=Europe%2FRome"
                    style="border-width:0" min-width="400" width="100%" height="300" frameborder="0" scrolling="no"></iframe>
            <a ng-repeat="reminder in dati.reminders | filter:{user: profile.$id} | filter:{date:dati.currentDate}" class="w3-bar-item w3-button">
                <i class="glyphicon glyphicon-exclamation-sign w3-large w3-center" style="padding-right:4px"></i>
                <strong>{{reminder.projectName}}:</strong> {{reminder.reminder}}</a>
        </div>
    </div>

    <div class="w3-bar-item w3-dropdown-click w3-right" id="logoBarHome" ng-click="showLogoItem()">

        {{profile.name}}
        <div class="w3-dropdown-content w3-bar-block w3-border w3-right" id="logoBarContentHome">
            <a ng-click="goToMyPublicProfile()" class="w3-bar-item w3-button"><i
                    class="glyphicon glyphicon-user w3-large"></i> Your Public
                Profile</a>
            <a ng-click="goToEditProfile()" class="w3-bar-item w3-button"><i
                    class="glyphicon glyphicon-pencil w3-large"></i> Edit Profile</a>
            <a ng-click="logout()" class="w3-bar-item w3-button"><i class="glyphicon glyphicon-off w3-large"></i> Logout</a>
        </div>
    </div>

    <div id="logoBarImgContainerHome">
        <img class="media-object" ng-src="../{{profile.img_url}}" alt="{{profile.img_alt}}"
             ng-if="!(profile.img_url.includes('https://firebasestorage.googleapis.com')) && profile.img_url!=''">
        <img class="media-object" ng-src="{{profile.img_url}}" alt="{{profile.img_alt}}"
             ng-if="profile.img_url.includes('https://firebasestorage.googleapis.com')">
        <img class="media-object" ng-src="../images/StormTroupersLogo.png" alt="{{profile.img_alt}}"
             ng-if="profile.img_url == ''">
    </div>

</div>

<div id="bodyHome" class="w3-container w3-col l12 s12 m12">
    <div id="sideUserHome" class="w3-col l3 m3 s3 w3-card-2">
        <h3 id="userNameAndLastHome">{{profile.name}} {{profile.lastName}}</h3>
        <p id="userRolesHome"></p>
        <p id="userCityHome"></p>
        <div id="userPhotoHome">
            <img class="media-object" ng-src="../{{profile.img_url}}" alt="{{profile.img_alt}}"
                 ng-if="!(profile.img_url.includes('https://firebasestorage.googleapis.com')) && profile.img_url!=''">
            <img class="media-object" ng-src="{{profile.img_url}}" alt="{{profile.img_alt}}"
                 ng-if="profile.img_url.includes('https://firebasestorage.googleapis.com')">
            <img class="media-object" ng-src="../images/StormTroupersLogo.png" alt="{{profile.img_alt}}"
                 ng-if="profile.img_url == ''">
        </div>
        <br>
        <a ng-click="goToMyProjects()" class="w3-bar-item" id="userProjectHome">My Projects <i
                class="glyphicon glyphicon-film w3-large"></i></a><br><br>
        <a ng-click="goToMyTroupers(profile.$id)" class="w3-bar-item" id="userTroupeHome">My Troupers <i
                class="glyphicon glyphicon-user w3-large"></i></a><br><br>
        <a ng-click="goToMyApplications()" class="w3-bar-item" id="userApplicationHome">My Applications <i
                class="glyphicon glyphicon-briefcase w3-large"></i></a><br><br>
        <a ng-click="goToEditProfile()" class="w3-bar-item" id="editProfileLinkHome">Edit Profile <i
                class="glyphicon glyphicon-cog w3-large"></i></a>
    </div>

    <div class="modalContainer">
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <!--<div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" style="color: black;" ng-show="!alreadyFriend">Friend Request</h4>
                        <h4 class="modal-title" style="color: black;" ng-show="alreadyFriend">Friend Request</h4>
                    </div>-->
                    <div class="modal-body">
                        <p>You added {{otherUser.name}} to your connections.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div id="aroundYouContainer" class="w3-col l8 m8 s8">
        <div class="w3-container">
            <div class="w3-col l12 m12 s12" style="margin-left: 30px;">
                <h2 class="w3-col s11 m11 l11" style="color: white; margin-top: 0;">AROUND YOU...</h2>
                <div id="newProjectShow" class="w3-container w3-card-2 w3-col l6 m6 s6"
                     style="background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5));">
                    <div class="w3-container" id="newProjectTitle">
                        <h4>New Projects</h4>
                    </div>
                    <div class="w3-container">
                        <ul style="list-style: none; padding: 0;">
                            <li ng-repeat="project in filterProjects">
                                <div id="projectPic" class=" w3-container w3-card-2"
                                     style="padding: 10px; border-radius: 4mm;background-image:url({{project.img_url}});">
                                    <div class="w3-container w3-row w3-col s10 m10 l10">
                                        <h4 style="color: white;
                                                text-shadow: 2px 2px 2px #333333;">{{project.title}}</h4>
                                    </div>
                                    <div id="likePanel" class="w3-container w3-row w3-right"
                                         style="min-height:20px; background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.9)); margin-top: 150px;">
                                        <div id="newPDesc">
                                            <div class="w3-container w3-row w3-col s3 m3 l3">
                                                <h5 style="color: white;">{{project.genre}}</h5>
                                            </div>
                                            <div class="w3-container w3-row w3-col s7 m7 l7">
                                                <h5 style="color: white;">{{project.progress}}</h5>
                                            </div>
                                            <a ng-click="goToPublicProjectPage(project.$id)"><i
                                                    class="glyphicon glyphicon-eye-open w3-xlarge w3-col s1 m1 l1"
                                                    style="color: white; margin-right: 15px"></i>
                                                <a ng-click="">
                                                    <i class="glyphicon glyphicon-heart-empty w3-xlarge w3-col s1 m1 l1"
                                                       style="color: white;"></i></a>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="newUsersShow" class="w3-container w3-card-2 w3-col l5 m5 s5"
                     style="background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5));">
                    <div class="w3-container" id="newUserTitle">
                        <h4>New Users</h4>
                    </div>
                    <div class="w3-container">
                        <ul style="list-style: none">
                            <li ng-repeat="user in filterSearch">
                                <div class=" w3-container w3-card-2"
                                     style="padding: 10px; border-radius: 4mm; background-color: #333333;">
                                    <div class="w3-left" id="newUImgContainer">
                                        <img class="media-object w3-left w3-circle" ng-src="../{{user.img_url}}"
                                             alt="{{user.img_alt}}"
                                             ng-if="!(user.img_url.includes('https://firebasestorage.googleapis.com')) && user.img_url!=''">
                                        <img class="media-object w3-left w3-circle" ng-src="{{user.img_url}}"
                                             alt="{{user.img_alt}}"
                                             ng-if="user.img_url.includes('https://firebasestorage.googleapis.com')">
                                        <img class="media-object w3-left w3-circle"
                                             ng-src="https://firebasestorage.googleapis.com/v0/b/stormtroupers-d1a6d.appspot.com/o/StormTroupersIcon-con-linea.png?alt=media&token=407d5540-43e7-4b88-b622-11d2e714fca7"
                                             alt="{{user.img_alt}}" ng-if="user.img_url == ''">
                                    </div>
                                    <div id="newUDesc">
                                        <div class="w3-container w3-row">
                                            <h4 style="color: white;">{{user.name}} {{user.lastName}}</h4>
                                        </div>
                                    </div>
                                    <div class="w3-container w3-row w3-right" id="linkNewU">
                                        <a ng-click="goToPublicProfile(user.$id)"><i
                                                class="glyphicon glyphicon-user w3-xlarge"></i></a>
                                        <a ng-click="addUserToFriends(user.$id)" class="w3-tooltip" data-toggle="modal"
                                           data-target="#myModal">
                                            <i class="glyphicon glyphicon-screenshot w3-xlarge w3-left"
                                               style="cursor: pointer;"></i>
                                            <h6 class="w3-center w3-text w3-tag"
                                                style="color: white; text-align: left; position:absolute;top: 0px; padding: 5px;">
                                                Connect with {{user.name}}</h6>
                                        </a>
                                        <!--<h6 style="position:absolute;right:0;bottom:0px" class="w3-text w3-tag">Connect with {{otherUser.name}}</h6>-->
                                    </div>
                                </div>
                                <br>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>