<div class="w3-bar " id="topBarHome">
    <a class="w3-bar-item w3-button" id="homeLinkHome" ><i class="glyphicon glyphicon-home w3-large"></i></a>
    <a class="w3-bar-item w3-button" id="userLinkHome"><i class="glyphicon glyphicon-user w3-large"></i></a>
    <a class="w3-bar-item w3-button" id="projectsLinkHome"><i class="glyphicon glyphicon-film w3-large"></i></a>



    <div class="w3-bar-item w3-dropdown-click" id="typeSearchHome">
        <a ng-click="showSearchItem()" class=" glyphicon glyphicon-search w3-large" id="searchIconHome"></a>
        <div class="w3-dropdown-content w3-bar-block w3-border" id="typeSearchContentHome">
            <a href="#" class="w3-bar-item w3-button"><i class="glyphicon glyphicon-user"></i> Search Troupers</a>
            <a href="#" class="w3-bar-item w3-button"><i class="glyphicon glyphicon-project"></i> Search Projects</a>
        </div>
    </div>
    <input class="w3-input w3-border" type="text" id="searchBarHome">



    <div class="w3-bar-item w3-dropdown-click w3-right" id="logoBarHome">
        <h4 class="w3-bar-item w3-right" id="userNameHome" ng-click="showLogoItem()"></h4>
        <div class="w3-dropdown-content w3-bar-block w3-border" id="logoBarContentHome">
            <a href="#" class="w3-bar-item w3-button"><i class="glyphicon glyphicon-user"></i> Your Public Profile</a>
            <a href="#" class="w3-bar-item w3-button"><i class="glyphicon glyphicon-pencil"></i> Edit Profil</a>
            <a href="#" class="w3-bar-item w3-button"><i class="glyphicon glyphicon-off"></i> Logout</a>
        </div>
    </div>
    <img id="logoBarImgHome" alt="logo">

</div>

