/*inizio parte comune*/
.w3-top{
    overflow: visible;
}

#topBarHome{
    background: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.9));
    /*Per centrare il contenuto*/
    display:flex;

    align-items:center;
    height: 60px;
}


#logoBarImgContainerHome{
    position: absolute;
    right: 0px;
    margin-right: 20px;
}

#logoBarImgContainerHome img{
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

#logoChatBarHome{
    maring-left: 150px;
}

#logoBarHome{
    position: absolute;
    right: 50px;
    margin-right: 30px;
    font-family: "ADAM.CG PRO";
    color: white;
    text-align: right;
}

#logoBarHome:hover{
    text-decoration: none;
    color: black;
}

#logoBarContentHome{
    position:absolute;
    top: 60px;
    right:0px;
    width: 200px;
}

#logoBarContentHome a:hover{
    text-decoration: none;
}

#logoBarContentHome a{
    padding-left: 5px;
}

#logoBarContentHome i{
    margin-right: 5px;
}

#homeLinkHome{
    color: white;
}

#userLinkHome{
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}

#projectsLinkHome{
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}

#searchItemHome{
    max-width: 30%;
    margin-left: 10px;
}

#bodyHome{
    margin-top: 100px;
    margin-bottom: 50px;
}

#sideUserHome{

    /*Per centrare il contenuto*/
    text-align: center;
    align-items:center;
    vertical-align: middle;
    background: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.9));
    padding-bottom: 20px;
    margin-right: 1%;
}

#sideUserHome p{
    color: white;
}

#userNameAndLastHome{
    color: white;
    font-family: "ADAM.CG PRO";
}


#userPhotoHome img{
    width: 200px;
    height: 200px;
    margin: auto;
    padding: 10px 10px 10px 10px;
    border-radius: 100px;
}

#sideUserHome a {
    color: white;
    font-size: 15pt;
    position: relative;

}

#sideUserHome a:hover{
    color: white;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
}
/* Fine parte comune*/

#aroundYouContainer{
    /*Per centrare il contenuto*/
    text-align: center;
    align-items:center;
    vertical-align: middle;
    padding-bottom: 20px;

}

#aroundYouContainer h2{
    color: #636466;
}

#newProjectShow{
    /*Per centrare il contenuto*/
    text-align: center;
    align-items:center;
    vertical-align: middle;
    background-color: #636466;
    margin-right: 5%;
}

#newProjectShow h4{
    font-family: "ADAM.CG PRO";
    color: white;
}

#newUsersShow{
    /*Per centrare il contenuto*/
    text-align: center;
    align-items:center;
    vertical-align: middle;
    background-color: #636466;
}

#newUserTitle{
    display: flex;
    justify-content: center;
}

#newProjectTitle{
    display: flex;
    justify-content: center;
}

#newUsersShow h4{
    font-family: "ADAM.CG PRO";
    color: white;
}

#newUsersShow li{
    list-style: none;
    margin-left: -40px;
}

#newUImgContainer img{
    max-height: 75px;
    border-radius: 100px;
}

#newUImgContainer{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items:center;
    vertical-align: middle;
}

#newUDesc{
    color: #636466;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items:center;
    vertical-align: middle;
}

#newUDesc h4{
    color: #636466;
}

#linkNewU{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items:center;
    vertical-align: middle;
}

#linkNewU a{
    text-decoration: none;
    color: #636466;
    margin: 10px;
}

#linkNewU a:hover{
    cursor: pointer;
}

#newPImg{
    content: url("../../images/StormTroupersLogo.png");
    max-height: 75px;
}

#newPImgContainer{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items:center;
    vertical-align: middle;
}

#newPDesc{
    color: #636466;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items:center;
    vertical-align: middle;
}

#newPDesc h4{
    color: #636466;
}

#linkNewP{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items:center;
    vertical-align: middle;
}

#linkNewP a{
    text-decoration: none;
    color: #636466;
    margin: 10px;
}

#linkNewP a:hover{
    cursor: pointer;
}

#projectPic{
    background-image: url("../../images/troopers.jpg");
    background-size: cover;
    min-height: 150px;
}

#projectPic a:hover{
    cursor: pointer;
}