#newProjectContainer{
    /*Per centrare il contenuto*/
    text-align: center;
    align-items:center;
    vertical-align: middle;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5));
    padding-bottom: 20px;
    margin-left: 30px;
}

#newProjectContainer h2{
    color: white;
}

#containerTroupe{
    max-width: 100%;
}

#troupeUserImgLink{
    cursor: pointer;
}

#troupeUserImgLink img{
    max-height: 40px;
    margin: 5px;
}

#projectPicture{
    content: url("../../images/upload_pic.jpg");
    max-width: 90%;
    padding-right: 20px;
}
#rolesNeededContainer{
    margin-left: 40px;
    margin-top: 10px;
}

#searchCrewButtonContainer {
    width: 100%;
    display: inline-block;
    align-items: center;
    horiz-align: center;
}


#searchCrewButton {
    display: flex;
    color: white;
    background-color: black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
