#aroundYouContainer{
    /*Per centrare il contenuto*/
    text-align: center;
    align-items:center;
    vertical-align: middle;
    padding-bottom: 20px;

}

#newProjectShow{
    /*Per centrare il contenuto*/
    text-align: center;
    align-items:center;
    vertical-align: middle;
    background-color: #636466;
    margin-right: 5%;
}

#newProjectShow h4{
    font-family: "ADAM.CG PRO";
    color: white;
}

#newUsersShow{
    /*Per centrare il contenuto*/
    text-align: center;
    align-items:center;
    vertical-align: middle;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5));
    padding: 10px;
    margin-left: 10px;
}

#containerTitle{
    display: flex;
    justify-content: left;
}

#newProjectTitle{
    display: flex;
    justify-content: center;
}

#onlineUserContainer{
    padding:0;
}

#onlineUsersShowChat{
    padding: 0;
}

#onlineUsersShowChat h4{
    font-family: "ADAM.CG PRO";
    color: white;
}

#onlineUsersShowChat li{
    list-style: none;
    margin-left: -40px;
}

#newUImgContainer{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items:center;
    vertical-align: middle;
}

#newUImgContainer img{
    max-height: 75px;
}

#newUDescListUsers{
    color: #636466;
    display: flex;
    justify-content: left;
    text-align: left;
    align-items:left;
    vertical-align: middle;
    padding-left:10px;
    margin-right: 0px;
}

#newUDescListUsers h4{
    color: #636466;
}

#linkNewU{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items:center;
    vertical-align: middle;
}

#linkNewU a{
    text-decoration: none;
    color: #636466;
    margin: 10px;
}

#linkNewU a:hover{
    cursor: pointer;
}

#newPImg{
    content: url("../../images/StormTroupersLogo.png");
    max-height: 75px;
}

#newPImgContainer{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items:center;
    vertical-align: middle;
}

#newPDesc{
    color: #636466;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items:center;
    vertical-align: middle;
}

#newPDesc h4{
    color: #636466;
}

#linkNewP{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items:center;
    vertical-align: middle;
}

#linkNewP a{
    text-decoration: none;
    color: #636466;
    margin: 10px;
}

#linkNewP a:hover{
    cursor: pointer;
}

#projectPic{
    background-size: cover;
    min-height: 150px;
}

#projectPic a:hover{
    cursor: pointer;
}