#editProjectContainer{
    /*Per centrare il contenuto*/
    text-align: center;
    align-items:center;
    vertical-align: middle;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5));
    padding-bottom: 20px;
    margin-left: 30px;
}

#editProjectContainer h2{
    color: white;
}

#containerTroupe{
    max-width: 100%;
}

#newUImg{

    max-height: 75px;
}
#newUImg2{

    max-height: 75px;
}

#searchCrewButtonContainer {
    width: 100%;
    display: inline-block;
    align-items: center;
    horiz-align: center;
}


#searchCrewButton {
    display: flex;
    color: white;
    background-color: black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#newUImgContainer{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items:center;
    vertical-align: middle;
}
#newUImgContainer2{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items:center;
    vertical-align: middle;
}

#newUDesc{
    color: #636466;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items:center;
    vertical-align: middle;
}

#newUDesc h4{
    color: #636466;
}

#newUDesc2{
    color: #636466;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items:center;
    vertical-align: middle;
}

#newUDesc2 h4{
    color: #636466;
}


#troupeUserImgLink2 img{
    max-height: 40px;
    margin: 5px;
}

#linkNewU{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items:center;
    vertical-align: middle;
}

#linkNewU a{
    text-decoration: none;
    color: #636466;
    margin: 10px;
}

#linkNewU a:hover{
    cursor: pointer;
}

#linkNewU2{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items:center;
    vertical-align: middle;
}

#linkNewU2 a{
    text-decoration: none;
    color: #636466;
    margin: 10px;
}

#linkNewU2 a:hover{
    cursor: pointer;
}

#troupeUserImgLink{
    cursor: pointer;
}

#troupeUserImgLink2{
    cursor: pointer;
}

#projPicContainer img{
    padding-right: 5px;
    max-width: 90%;
}