<div class="w3-container w3-bar w3-top w3-card-2" id="topBarHome">


    <a class="w3-bar-item w3-button" id="homeLinkHome" ng-click="goToDashboard()"><i
            class="glyphicon glyphicon-home w3-large"></i></a>
    <a class="w3-bar-item w3-button" id="userLinkHome" ng-click="goToSearchCrew()">Search Crew</a>
    <a class="w3-bar-item w3-button" id="projectsLinkHome" ng-click="goToSearchProjects()">Search Projects</a>


    <!--
        <div class="w3-bar-item w3-dropdown-click" id="typeSearchHome">
            <a ng-click="showSearchItem()" class=" glyphicon glyphicon-search w3-large" id="searchIconHome"></a>
            <div class="w3-dropdown-content w3-bar-block w3-border" id="typeSearchContentHome">
                <a href="#" class="w3-bar-item w3-button"><i class="glyphicon glyphicon-user"></i> Search Troupers</a>
                <a href="#" class="w3-bar-item w3-button"><i class="glyphicon glyphicon-project"></i> Search Projects</a>
            </div>
        </div>
        <input class="w3-input w3-border" type="text" id="searchBarHome">-->

    <form id="searchItemHome">
        <div class="input-group">
            <input id="searchItemHomeKeyword" type="text" class="form-control" placeholder="Search" ng-submit="launchSearchInSearchPage()">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit" ng-click="launchSearchInSearchPage()">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
        </div>
    </form>

    <div class="w3-bar-item w3-right" id="logoChatBarHome"><span><a href="#!/usersList"><i
            class="w3-right glyphicon glyphicon-comment w3-xlarge" style="color: white;"></i></a></span></div>
    <div class="w3-bar-item w3-right w3-dropdown-hover" id="logoReminderBarHome">
        <span>
            <i class="w3-right glyphicon glyphicon-bell w3-xlarge" style="color: white;"></i>
        </span>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;mode=AGENDA&amp;height=200&amp;wkst=1&amp;bgcolor=%23999999&amp;src=r7sjqm37dleu42bjdb59r1j500%40group.calendar.google.com&amp;color=%23691426&amp;ctz=Europe%2FRome"
                    style="border-width:0" min-width="400" width="100%" height="300" frameborder="0" scrolling="no"></iframe>
            <a ng-repeat="reminder in dati.reminders | filter:{user: profile.$id} | filter:{date:dati.currentDate}" class="w3-bar-item w3-button">
                <i class="glyphicon glyphicon-exclamation-sign w3-large w3-center" style="padding-right:4px"></i>
                <strong>{{reminder.projectName}}:</strong> {{reminder.reminder}}</a>
        </div>
    </div>

    <div class="w3-bar-item w3-dropdown-click w3-right" id="logoBarHome" ng-click="showLogoItem()">

        {{profile.name}}
        <div class="w3-dropdown-content w3-bar-block w3-border w3-right" id="logoBarContentHome">
            <a ng-click="goToMyPublicProfile()" class="w3-bar-item w3-button"><i
                    class="glyphicon glyphicon-user w3-large"></i> Your Public
                Profile</a>
            <a ng-click="goToEditProfile()" class="w3-bar-item w3-button"><i
                    class="glyphicon glyphicon-pencil w3-large"></i> Edit Profile</a>
            <a ng-click="logout()" class="w3-bar-item w3-button"><i class="glyphicon glyphicon-off w3-large"></i> Logout</a>
        </div>
    </div>

    <div id="logoBarImgContainerHome">
        <img class="media-object" ng-src="../{{profile.img_url}}" alt="{{profile.img_alt}}" ng-if="!(profile.img_url.includes('https://firebasestorage.googleapis.com')) && profile.img_url!=''">
        <img class="media-object" ng-src="{{profile.img_url}}" alt="{{profile.img_alt}}" ng-if="profile.img_url.includes('https://firebasestorage.googleapis.com')">
        <img class="media-object" ng-src="../images/StormTroupersLogo.png" alt="{{profile.img_alt}}" ng-if="profile.img_url == ''">
    </div>

</div>

<div id="bodyHome" class="w3-container w3-col l12 s12 m12">

    <div class="modalContainer">
        <!-- Modal -->
        <div class="modal fade" id="myModalDocument" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <!--<div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" style="color: black;" ng-show="!alreadyFriend">Friend Request</h4>
                        <h4 class="modal-title" style="color: black;" ng-show="alreadyFriend">Friend Request</h4>
                    </div>-->
                    <div class="modal-body">
                        <p>Document saved</p>
                    </div>
                    <div class="modal-footer">
                        <button ng-click="refresh()" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <h2 style="color: white; margin-top: 20px; margin-left: 20px">
        Editor: <strong>{{prj.title}}</strong></h2>
    <br>
    <div id="templateSelection">
        <button class="w3-button" ng-click="setTemplate(0)"><i class="glyphicon glyphicon-file w3-xxlarge"></i><br>Screenplay</button>
        <button class="w3-button" ng-click="setTemplate(1)"><i class="glyphicon glyphicon-file w3-xxlarge"></i><br>Storyboard</button>
        <button class="w3-button" ng-click="setTemplate(2)"><i class="glyphicon glyphicon-file w3-xxlarge"></i><br>Script</button>
        <button class="w3-button" ng-click="setTemplate(3)"><i class="glyphicon glyphicon-file w3-xxlarge"></i><br>Call sheet</button>
        <button class="w3-button" ng-click="setTemplate(4)"><i class="glyphicon glyphicon-file w3-xxlarge"></i><br>Shot-list</button>
        <button class="w3-button" ng-click="setTemplate(5)"><i class="glyphicon glyphicon-file w3-xxlarge"></i><br>Objects list</button>
        <br><br><br>
        <button class="w3-button w3-round-large" id="returnProjectsButton" ng-click="goToMyProjects()">Return to you projects</button>
    </div>
    <br><br>
    <div id="campoDiTesto" class="w3-container w3-col l12 m12 s12">
        <form method="post">
            <textarea ui-tinymce="tinymceOptions" ng-model="tinymceModel" style="height: 700px"></textarea>
            <br><br>
            <button id="cancelTextButton" class="w3-button w3-round-large w3-right" ng-click="cancelOperation()">Cancel</button>
            <button id="saveTextButton" class="w3-button w3-round-large w3-right" ng-click="saveDocument()" data-toggle="modal" data-target="#myModalDocument">Save</button>
            <!--<button ng-click="getContent()">Get content</button>
            <button ng-click="setContent()">Set content</button>-->
        </form>
    </div>

</div>

