<div class="w3-container w3-bar w3-top w3-card-2" id="topBarHome">


    <a class="w3-bar-item w3-button" id="homeLinkHome" ng-click="goToDashboard()"><i
            class="glyphicon glyphicon-home w3-large"></i></a>
    <a class="w3-bar-item w3-button" id="userLinkHome" ng-click="goToSearchCrew()">Search Crew</a>
    <a class="w3-bar-item w3-button" id="projectsLinkHome" ng-click="goToSearchProjects()">Search Projects</a>


    <!--
        <div class="w3-bar-item w3-dropdown-click" id="typeSearchHome">
            <a ng-click="showSearchItem()" class=" glyphicon glyphicon-search w3-large" id="searchIconHome"></a>
            <div class="w3-dropdown-content w3-bar-block w3-border" id="typeSearchContentHome">
                <a href="#" class="w3-bar-item w3-button"><i class="glyphicon glyphicon-user"></i> Search Troupers</a>
                <a href="#" class="w3-bar-item w3-button"><i class="glyphicon glyphicon-project"></i> Search Projects</a>
            </div>
        </div>
        <input class="w3-input w3-border" type="text" id="searchBarHome">-->

    <form id="searchItemHome">
        <div class="input-group">
            <input id="searchItemHomeKeyword" type="text" class="form-control" placeholder="Search">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit" ng-click="launchSearchInSearchPage()" ng-submit="launchSearchInSearchPage()">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
        </div>
    </form>

    <div class="w3-bar-item w3-right" id="logoChatBarHome"><span><a href="#!/usersList"><i
            class="w3-right glyphicon glyphicon-comment w3-xlarge" style="color: white;"></i></a></span></div>
    <div class="w3-bar-item w3-right w3-dropdown-hover" id="logoReminderBarHome">
        <span>
            <i class="w3-right glyphicon glyphicon-bell w3-xlarge" style="color: white;"></i>
        </span>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;mode=AGENDA&amp;height=200&amp;wkst=1&amp;bgcolor=%23999999&amp;src=r7sjqm37dleu42bjdb59r1j500%40group.calendar.google.com&amp;color=%23691426&amp;ctz=Europe%2FRome"
                    style="border-width:0" min-width="400" width="100%" height="300" frameborder="0" scrolling="no"></iframe>
            <a ng-repeat="reminder in dati.reminders | filter:{user: profile.$id} | filter:{date:dati.currentDate}" class="w3-bar-item w3-button">
                <i class="glyphicon glyphicon-exclamation-sign w3-large w3-center" style="padding-right:4px"></i>
                <strong>{{reminder.projectName}}:</strong> {{reminder.reminder}}</a>
        </div>
    </div>

    <div class="w3-bar-item w3-dropdown-click w3-right" id="logoBarHome" ng-click="showLogoItem()">
        {{profile.name}}
        <div class="w3-dropdown-content w3-bar-block w3-border w3-right" id="logoBarContentHome">
            <a ng-click="goToMyPublicProfile()" class="w3-bar-item w3-button"><i class="glyphicon glyphicon-user w3-large"></i> Your Public
                Profile</a>
            <a ng-click="goToEditProfile()" class="w3-bar-item w3-button"><i
                    class="glyphicon glyphicon-pencil w3-large"></i> Edit Profile</a>
            <a ng-click="logout()" class="w3-bar-item w3-button"><i class="glyphicon glyphicon-off w3-large"></i> Logout</a>
        </div>
    </div>

    <div id="logoBarImgContainerHome">
        <img class="media-object" ng-src="../{{profile.img_url}}" alt="{{profile.img_alt}}" ng-if="!(profile.img_url.includes('https://firebasestorage.googleapis.com')) && profile.img_url!=''">
        <img class="media-object" ng-src="{{profile.img_url}}" alt="{{profile.img_alt}}" ng-if="profile.img_url.includes('https://firebasestorage.googleapis.com')">
        <img class="media-object" ng-src="../images/StormTroupersLogo.png" alt="{{profile.img_alt}}" ng-if="profile.img_url == ''">
    </div>

</div>

<div id="bodyHome" class="w3-container w3-col l12 s12 m12">
    <div id="sideUserHome" class="w3-col l3 m3 s3 w3-card-2">
        <h3 id="userNameAndLastHome" style="color: white;">{{profile.name}} {{profile.lastName}}</h3>
        <p id="userRolesHome"></p>
        <p id="userCityHome"></p>
        <div id="userPhotoHome">
            <img class="media-object" ng-src="../{{profile.img_url}}" alt="{{profile.img_alt}}" ng-if="!(profile.img_url.includes('https://firebasestorage.googleapis.com')) && profile.img_url!=''">
            <img class="media-object" ng-src="{{profile.img_url}}" alt="{{profile.img_alt}}" ng-if="profile.img_url.includes('https://firebasestorage.googleapis.com')">
            <img class="media-object" ng-src="../images/StormTroupersLogo.png" alt="{{profile.img_alt}}" ng-if="profile.img_url == ''">
        </div>
        <br>
        <a ng-click="goToMyProjects()" class="w3-bar-item" id="userProjectHome">My Projects <i
                class="glyphicon glyphicon-film w3-large"></i></a><br><br>
        <a ng-click="goToMyTroupers(profile.$id)" class="w3-bar-item" id="userTroupeHome">My Troupers <i class="glyphicon glyphicon-user w3-large"></i></a><br><br>
        <a ng-click="goToMyApplications()" class="w3-bar-item" id="userApplicationHome">My Applications <i
                class="glyphicon glyphicon-briefcase w3-large"></i></a><br><br>
        <a ng-click="goToEditProfile()" class="w3-bar-item" id="editProfileLinkHome">Edit Profile <i
                class="glyphicon glyphicon-cog w3-large"></i></a>
    </div>

    <div id="searchCrewTools" class="w3-col l3 m3 s3 w3-card-2">

        <h3 style="text-align: center; font-family: 'ADAM.CG PRO'; color: white;">
            Search Tools
        </h3>

        <hr>

        <label>Keyword</label>
        <form ng-submit="launchSearch()" ng-init="showHelpCaption = false">
            <input type="text" id="searchKeyword" ng-mouseenter="showHelpCaption = true"  ng-mouseleave="showHelpCaption = false" value="" class="searchPageInputFields" placeholder="Keyword"><br>
            <div id="helpCaption" ng-if="showHelpCaption" class="w3-animate-opacity">
                You can also use "AND" and "OR" boolean operators to improve your search
            </div>
        </form>
        <div ng-if="showHelpCaption === false" id="helpCaption2">
            <br>
        </div>
        <label>City</label>
        <form ng-submit="launchSearch()">
            <input type="text" id="searchCity" value="" class="searchPageInputFields" placeholder="City"><br>
        </form>
        <br>
        <label>Range (Km)</label>
        <rzslider rz-slider-model="slider.value" style="display: inline-block; z-index: 0"
                  rz-slider-options="slider.options"
                  ng-mouseenter="showHelpCaption3 = true"  ng-mouseleave="showHelpCaption3 = false"></rzslider>
        <div id="helpCaption3" ng-init="showHelpCaption3 = false" ng-if="showHelpCaption3" class="w3-animate-opacity">
            Due to a programming mishap "Range" and "City" fields DON'T work together!
        </div>
        <div ng-if="showHelpCaption3 === false" id="helpCaption3">
            <br>
        </div>
        <br>
        <label>Genre</label>
        <br>
        <div class="w3-col s12 m12 l12 w3-left w3-animate-opacity">

            <div class="w3-col s6 m6 l6 w3-animate-opacity" id="advancedGenreCheckboxes">
                <form class="w3-container">
                    <input name="cbg" id="checkAct" type="checkbox" class="w3-check"> <label>Action</label>
                    <br>
                    <input name="cbg" id="checkAni" type="checkbox" class="w3-check"> <label>Animation</label>
                    <br>
                    <input name="cbg" id="checkCom" type="checkbox" class="w3-check"> <label>Comedy</label>
                    <br>
                    <input name="cbg" id="checkDra" type="checkbox" class="w3-check"> <label>Drama</label>
                    <br>
                    <input name="cbg" id="checkEro" type="checkbox" class="w3-check"> <label>Erotic</label>
                    <br>
                    <input name="cbg" id="checkHis" type="checkbox" class="w3-check"> <label>Historical</label>
                    <br>
                    <input name="cbg" id="checkHor" type="checkbox" class="w3-check"> <label>Horror</label>
                </form>
            </div>
            <div class="w3-col s6 m6 l6 w3-animate-opacity" id="advancedGenreCheckboxes2">
                <form class="w3-container">
                    <input name="cbg" id="checkMar" type="checkbox" class="w3-check"> <label>Martial Arts</label>
                    <br>
                    <input name="cbg" id="checkMus" type="checkbox" class="w3-check"> <label>Musical</label>
                    <br>
                    <input name="cbg" id="checkRom" type="checkbox" class="w3-check"> <label>Romance</label>
                    <br>
                    <input name="cbg" id="checkSci" type="checkbox" class="w3-check"> <label>Sci Fi</label>
                    <br>
                    <input name="cbg" id="checkWar" type="checkbox" class="w3-check"> <label>War</label>
                    <br>
                    <input name="cbg" id="checkWes" type="checkbox" class="w3-check"> <label>Western</label>
                </form>
            </div>
        </div>
        <p class="spaziaturaTattica2"></p>
        <div id="checkallButtonContainer" ng-if="cbch===false">
            <br>
            <button  class="w3-button w3-round-large" id="checkallButton" ng-click="checkAllRoles()">Check All</button>
        </div>
        <div id="uncheckallButtonContainer" ng-if="cbch===true">
            <br>
            <button class="w3-button w3-round-large" id="uncheckallButton" ng-click="uncheckAllRoles()">Uncheck All</button>
        </div>
        <label> </label>
        <p class="spaziaturaTattica2"></p>
        <label>Searching for role?</label>
        <br>
        <div class="w3-col s12 m12 l12 w3-left w3-animate-opacity">

            <div class="w3-col s6 m6 l6 w3-animate-opacity" id="advancedJoinCheckboxes">
                <form class="w3-container">
                    <input name="rcb" id="checkAnim" type="checkbox" class="w3-check"> <label>Animation</label>
                    <br>
                    <input name="rcb" id="checkAudio" type="checkbox" class="w3-check"> <label>Audio/Music/Sound</label>
                    <br>
                    <input name="rcb" id="checkDP" type="checkbox" class="w3-check"> <label>Camera Crew/DP</label>
                    <br>
                    <input name="rcb" id="checkArt" type="checkbox" class="w3-check"> <label>Design/Scenic/Constr.</label>
                    <br>
                    <input name="rcb" id="checkDirect" type="checkbox" class="w3-check"> <label>Director</label>
                    <br>
                    <input name="rcb" id="checkGraphicDes" type="checkbox" class="w3-check"> <label>Graphic designer</label>
                    <br>
                    <input name="rcb" id="checkLight" type="checkbox" class="w3-check"> <label>Lighting/Electric</label>
                </form>
            </div>
            <div class="w3-col s6 m6 l6 w3-animate-opacity" id="advancedJoinCheckboxes2">
                <form class="w3-container">
                    <input name="rcb" id="checkPhot" type="checkbox" class="w3-check"> <label>Photographers</label>
                    <br>
                    <input name="rcb" id="checkPostProd" type="checkbox" class="w3-check"> <label>Post Production</label>
                    <br>
                    <input name="rcb" id="checkProducers" type="checkbox" class="w3-check"> <label>Producers</label>
                    <br>
                    <input name="rcb" id="checkFX" type="checkbox" class="w3-check"> <label>Special Effects Crew</label>
                    <br>
                    <input name="rcb" id="checkStyle" type="checkbox" class="w3-check"> <label>Stylist/Vanities</label>
                    <br>
                    <input name="rcb" id="checkActor" type="checkbox" class="w3-check" ng-model="showActorSpec" ng-init="showActorSpec = false"> <label>Talent/Actors</label>
                    <br>
                    <input name="rcb" id="checkCast" type="checkbox" class="w3-check"> <label>Talent/Casting</label>
                </form>
            </div>
        </div>
        <br>
        <div id="checkallButtonContainer2" ng-if="cbch2===false">
            <br>
            <button  class="w3-button w3-round-large" id="checkallButton2" ng-click="checkAllRoles2()">Check All</button>
        </div>
        <div id="uncheckallButtonContainer2" ng-if="cbch2===true">
            <br>
            <button class="w3-button w3-round-large" id="uncheckallButton2" ng-click="uncheckAllRoles2()">Uncheck All</button>
        </div>
        <br>
        <label>Status</label>
        <br>
        <div style="color: #636466; margin-left: 15px;">
            <div class="w3-col s12 m12 l12 w3-left w3-animate-opacity">
            <div class="w3-col s6 m6 l6 w3-animate-opacity" id="advancedStatusCheckboxes">
                <form class="w3-container">
                    <input id="checkComp" type="checkbox" class="w3-check"> <label>Completed</label>
                    <br>
                    <input id="checkProg" type="checkbox" class="w3-check"> <label>In Progress</label>
                </form>
            </div>
            <div class="w3-col s6 m6 l6 w3-animate-opacity" id="advancedStatusCheckboxes2">
                <form class="w3-container">
                    <input id="checkYet" type="checkbox" class="w3-check"> <label>Yet to Start</label>
                    <br>
                    <input id="checkHold" type="checkbox" class="w3-check"> <label>On Hold</label>
            <br>
            </form>
        </div>
        </div>
        </div>
        <hr>
        <br>
        <br>
        <br>
        <div id="searchCrewButtonContainer">
            <button class="w3-button w3-round-large" id="searchCrewButton" ng-click="launchSearch()">SEARCH!</button>
        </div>
    </div>
    <hr>
    <div id="searchCrewResults" class="w3-col l5 m5 s5 w3-card-2">
        <h3 style="text-align: center; font-family: 'ADAM.CG PRO';  color: white;">
            These are the projects you're looking for
        </h3>

        <hr>
        <div id="foundUsersShow" class="w3-container w3-col l12 m12 s12">
            <div class="w3-container">
                <ul>
                                <li ng-repeat="project in filterSearch">
                                    <div ng-click="goToPublicProjectPage(project.$id)" id="projectPic" class=" w3-container w3-card-2"
                                         style="cursor: pointer;padding: 10px; border-radius: 4mm;background-image:url({{project.img_url}});">
                                        <div class="w3-container w3-row w3-col s10 m10 l10">
                                            <h4 style="color: white;
                                                text-shadow: 2px 2px 2px #333333;">{{project.title}}</h4>
                                        </div>
                                        <div id="likePanel" class="w3-container w3-row w3-right"
                                             style="min-height:20px; background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.9)); margin-top: 150px;">
                                            <div id="newPDesc">
                                                <div class="w3-container w3-row w3-col s3 m3 l3">
                                                    <h5 style="color: white;">{{project.genre}}</h5>
                                                </div>
                                                <div class="w3-container w3-row w3-col s7 m7 l7">
                                                    <h5 style="color: white;">{{project.progress}}</h5>
                                                </div>
                                                <a ng-click="goToPublicProjectPage(project.$id)"><i
                                                        class="glyphicon glyphicon-eye-open w3-xlarge w3-col s1 m1 l1"
                                                        style="color: white; margin-right: 15px"></i>
                                                    <a ng-click="">
                                                        <i class="glyphicon glyphicon-heart-empty w3-xlarge w3-col s1 m1 l1"
                                                           style="color: white;"></i></a>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </li>
                </ul>
            </div>

        </div>
    </div>
</div>

