<div class="w3-container" id="loginMain">
    <h1 class="loginTitles">STORM<strong>TROUPERS</strong></h1>
    <!--<div ng-show="">-->
    <div id="alertBoxLoginDiv">
        <div id="alertLoginBox" class="w3-panel w3-round-large w3-row" ng-show="(loginForm.email.$touched && loginForm.email.$invalid) || (loginForm.password.$touched && loginForm.password.$invalid)">
            <div id="alertLoginIcon" class="w3-col s1 m1 l1 w3-left">
                <i class="w3-xlarge glyphicon glyphicon-exclamation-sign"></i>
            </div>
            <h4 id="loginErrorText" class="w3-col s11 m11 l11">Email and password are required.</h4>

        </div>
    </div>

    <div id="alertBoxJoinDiv">
        <div id="alertJoinBox" class="w3-panel w3-round-large w3-row" ng-show="(joinForm.joinName.$touched && joinForm.joinName.$invalid) || (joinForm.joinLastName.$touched && joinForm.joinLastName.$invalid)">
            <div id="alertJoinIcon" class="w3-col s1 m1 l1 w3-left">
                <i class="w3-xlarge glyphicon glyphicon-exclamation-sign"></i>
            </div>
            <h4 class="w3-col s11 m11 l11">Name and surname are required.</h4>
        </div>
        <div id="alertJoinBox2" class="w3-panel w3-round-large w3-row" ng-show="(joinForm.joinEmail.$touched && joinForm.joinEmail.$invalid)">
            <div id="alertJoinIcon2" class="w3-col s1 m1 l1 w3-left">
                <i class="w3-xlarge glyphicon glyphicon-exclamation-sign"></i>
            </div>
            <h4 class="w3-col s11 m11 l11 w3-right">The submitted e-mail is invalid.</h4>
            <h4 id="joinErrorText" class="w3-col s11 m11 l11"></h4>
        </div>
    </div>

    <div class="w3-container w3-card-2" id="login" ng-model="login">

            <div class="w3-col s6 m6 l6 w3-left w3-animate-opacity" id="loginBox">
                <form name="loginForm" ng-model="loginForm">
                <input class="w3-input w3-border" id="loginEmail" placeholder="E-mail" type="email" name="email" ng-model="user.email" required>
                <br>
                <input type="password" class="w3-input w3-border" placeholder="Password" name="password" id="loginPassword"
                       ng-model="user.password">
                <br>
                <button class="w3-btn" id="loginButton" ng-click="signIn()">Login</button><span style="color: white">or...</span>
                <a id="joinShift" ng-click="passToJoin()">Join the dark side</a>
                </form>
            </div>
            <div class="w3-col s6 m6 l6 w3-center w3-animate-left" id="loginImage">
                <img id="loginImg">
            </div>


    </div>


    <div class="w3-container w3-card-2" id="join" ng-model="join">

        <div class="w3-col s6 m6 l6 w3-center w3-animate-right" id="joinImage">
            <img id="joinImg">
        </div>
        <div class="w3-col s6 m6 l6 w3-left w3-animate-opacity" id="joinBox">
            <form name="joinForm" ng-model="joinForm">
            <input id="joinName" name="joinName" ng-model="joinName" type="text" class="w3-input w3-border" placeholder="Name" required>
            <br>
            <input id="joinLastName" name="joinLastName" ng-model="joinLastName" type="text" class="w3-input w3-border" placeholder="Last Name" required>
            <br>
            <input id="joinEmail" name="joinEmail" ng-model="joinEmail" type="email" class="w3-input w3-border" placeholder="Email" required>
            <br>
            <input id="joinPassword" name="joinPW" ng-model="joinPW" type="password" class="w3-input w3-border" placeholder="Password" required>
            <br>
            <input id="joinConfPassword" name="joinConfirmPW" ng-model="joinConfirmPW" type="password" class="w3-input w3-border" placeholder="Confirm password" required>
            <br>
            <div class="w3-row-padding">
                <div class="w3-half">
                    <input class="w3-radio" type="radio" ng-model="gender" value="male"
                           id="joinMale"><label style="color: white">Male</label>
                    <br>
                    <input class="w3-radio" type="radio" ng-model="gender" value="female"
                           id="joinFemale"><label style="color: white">Female</label>
                </div>
                <div class="w3-half">
                    <label style="color: white;">Date of birth
                        <input id="joinDateOfBirth" type="date" name="mydatetime">
                    </label>
                </div>
            </div>
            <br>
            <button class="w3-btn" id="joinButton" ng-click="join()">Join the dark side</button><span style="color: white;">or...</span>
            <a id="loginShift" ng-click="passToLogin()">Login</a>
            </form>
        </div>
    </div>
</div>

<div class="w3-container" id="spotPhrase">
    <h3>StormTroupers is an online network for the independent film community.
        <br>
        Helping get films made since 1977.</h3>
</div>


<div class="w3-container" id="searchImage">
    <h2 class="loginTitles">THE SEARCH</h2>
</div>

<div class="w3-container w3-card-2 w3-row-padding" id="searchItem">
    <div class="w3-third">
        <i class="w3-jumbo glyphicon glyphicon-search"></i>
        <br>
        <h4>Look for filmakers
            <br>
            Look for existing projects and gigs</h4>
    </div>
    <div class="w3-third">
        <i class="w3-jumbo glyphicon glyphicon-user"></i>
        <br>
        <h4>Find the troupe</h4>
    </div>
    <div class="w3-third">
        <i class="w3-jumbo glyphicon glyphicon-film"></i>
        <br>
        <h4>Shoot</h4>
    </div>
</div>

<div class="w3-container" id="flowImage">
    <h2 class="loginTitles">FOLLOW THE FLOW</h2>
</div>

<div class="w3-container w3-card-2 w3-row-padding" id="flowItem">
    <div class="w3-third">
        <i class="w3-jumbo glyphicon glyphicon-plus"></i>
        <br>
        <h4>Create and share a project with your troupe</h4>
    </div>
    <div class="w3-third">
        <i class="w3-jumbo glyphicon glyphicon-edit"></i>
        <br>
        <h4>Edit the templates we offer you:
            write your screenplay,
            learn the script,
            give life shot by shot to your story!</h4>
    </div>
    <div class="w3-third">
        <i class="w3-jumbo glyphicon glyphicon-calendar"></i>
        <br>
        <h4>Synchronize the workflow with the production calendar
            providing personal memo and autogenerated callsheets!</h4>
    </div>
</div>

<div class="w3-container" id="hpInfo">
    <h4><a href="https://sonet-2017.github.io/StormTroupers/">About us</a></h4>
</div>
</div>
