<div class="w3-container w3-bar w3-top w3-card-2" id="topBarHome">


    <a class="w3-bar-item w3-button" id="homeLinkHome" ng-click="goToDashboard()"><i
            class="glyphicon glyphicon-home w3-large"></i></a>
    <a class="w3-bar-item w3-button" id="userLinkHome" ng-click="goToSearchCrew()"><i
            class="glyphicon glyphicon-user w3-large"></i> Search Crew</a>
    <a class="w3-bar-item w3-button" id="projectsLinkHome" ng-click="goToSearchProjects()"><i class="glyphicon glyphicon-film w3-large"></i> Search Projects</a>


    <!--
        <div class="w3-bar-item w3-dropdown-click" id="typeSearchHome">
            <a ng-click="showSearchItem()" class=" glyphicon glyphicon-search w3-large" id="searchIconHome"></a>
            <div class="w3-dropdown-content w3-bar-block w3-border" id="typeSearchContentHome">
                <a href="#" class="w3-bar-item w3-button"><i class="glyphicon glyphicon-user"></i> Search Troupers</a>
                <a href="#" class="w3-bar-item w3-button"><i class="glyphicon glyphicon-project"></i> Search Projects</a>
            </div>
        </div>
        <input class="w3-input w3-border" type="text" id="searchBarHome">-->

    <form id="searchItemHome">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
        </div>
    </form>

    <div class="w3-bar-item w3-right" id="logoChatBarHome"><span><a href="#!/usersList"><i
            class="w3-right glyphicon glyphicon-comment w3-xlarge" style="color: white;"></i></a></span></div>

    <div class="w3-bar-item w3-dropdown-click w3-right" id="logoBarHome" ng-click="showLogoItem()">
        {{profile.name}}
        <div class="w3-dropdown-content w3-bar-block w3-border w3-right" id="logoBarContentHome">
            <a ng-click="goToMyPublicProfile()" class="w3-bar-item w3-button"><i class="glyphicon glyphicon-user w3-large"></i> Your Public
                Profile</a>
            <a ng-click="goToEditProfile()" class="w3-bar-item w3-button"><i
                    class="glyphicon glyphicon-pencil w3-large"></i> Edit Profile</a>
            <a ng-click="logout()" class="w3-bar-item w3-button"><i class="glyphicon glyphicon-off w3-large"></i> Logout</a>
        </div>
    </div>

    <div id="logoBarImgContainerHome">
        <img class="media-object" ng-src="../{{profile.img_url}}" alt="{{profile.img_alt}}" ng-if="!(profile.img_url.includes('https://firebasestorage.googleapis.com')) && profile.img_url!=''">
        <img class="media-object" ng-src="{{profile.img_url}}" alt="{{profile.img_alt}}" ng-if="profile.img_url.includes('https://firebasestorage.googleapis.com')">
        <img class="media-object" ng-src="../images/StormTroupersLogo.png" alt="{{profile.img_alt}}" ng-if="profile.img_url == ''">
    </div>

</div>

<div id="bodyHome" class="w3-container w3-col l12 s12 m12">
       <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <div id="sideUserHome" class="w3-col l3 m3 s3 w3-card-2">
        <h3 id="userNameAndLastHome" style="color: white;">{{profile.name}} {{profile.lastName}}</h3>
        <p id="userRolesHome"></p>
        <p id="userCityHome"></p>
        <div id="userPhotoHome">
            <img class="media-object" ng-src="../{{profile.img_url}}" alt="{{profile.img_alt}}" ng-if="!(profile.img_url.includes('https://firebasestorage.googleapis.com')) && profile.img_url!=''">
            <img class="media-object" ng-src="{{profile.img_url}}" alt="{{profile.img_alt}}" ng-if="profile.img_url.includes('https://firebasestorage.googleapis.com')">
            <img class="media-object" ng-src="../images/StormTroupersLogo.png" alt="{{profile.img_alt}}" ng-if="profile.img_url == ''">
        </div>
        <br>
        <a ng-click="goToMyProjects()" class="w3-bar-item" id="userProjectHome">My Projects <i
                class="glyphicon glyphicon-film w3-large"></i></a><br><br>
        <a ng-click="goToMyTroupers(profile.$id)" class="w3-bar-item" id="userTroupeHome">My Troupers <i class="glyphicon glyphicon-user w3-large"></i></a><br><br>
        <a ng-click="goToEditProfile()" class="w3-bar-item" id="editProfileLinkHome">Edit Profile <i
                class="glyphicon glyphicon-cog w3-large"></i></a>
    </div>

    <div class="modalContainer">
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <!--<div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" style="color: black;" ng-show="!alreadyFriend">Friend Request</h4>
                        <h4 class="modal-title" style="color: black;" ng-show="alreadyFriend">Friend Request</h4>
                    </div>-->
                    <div class="modal-body">
                        <p ng-show="!alreadyFriend">You added {{otherUser.name}} to your connections.</p>
                        <p ng-show="alreadyFriend">You're already connected with {{otherUser.name}}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div id="searchCrewTools" class="w3-col l3 m3 s3 w3-card-2">

        <h3 style="text-align: center; font-family: 'ADAM.CG PRO'; color: white;">
            Search Tools
        </h3>

        <hr>

        <label>Keyword</label>
        <form ng-submit="launchSearch()" ng-init="showHelpCaption = false">
            <input type="text" placeholder="Keyword" ng-mouseenter="showHelpCaption = true"  ng-mouseleave="showHelpCaption = false" id="searchKeyword" value="" class="searchPageInputFields"><br>
            <div id="helpCaption" ng-if="showHelpCaption" class="w3-animate-opacity">
            You can also use "AND" and "OR" boolean operators to improve your search
            </div>
        </form>
        <div ng-if="showHelpCaption === false" id="helpCaption2">
        <br>
        </div>
        <label>City</label>
        <form ng-submit="launchSearch()">
            <input type="text" id="searchCity" value="" class="searchPageInputFields" placeholder="City"><br>
        </form>
        <br>
        <label>Range (Km)</label>
        <rzslider rz-slider-model="slider.value" style="display: inline-block; z-index: 0"
                  rz-slider-options="slider.options"></rzslider>
        <br>
        <br>
        <label>Roles</label>
        <br>
        <div class="w3-col s12 m12 l12 w3-left w3-animate-opacity">

            <div class="w3-col s6 m6 l6 w3-animate-opacity" id="advancedJoinCheckboxes">
                <form class="w3-container">
                    <input id="checkAnim" type="checkbox" class="w3-check"> <label>Animation</label>
                    <br>
                    <input id="checkAudio" type="checkbox" class="w3-check"> <label>Audio/Music/Sound</label>
                    <br>
                    <input id="checkDP" type="checkbox" class="w3-check"> <label>Camera Crew/DP</label>
                    <br>
                    <input id="checkArt" type="checkbox" class="w3-check"> <label>Design/Scenic/Constr.</label>
                    <br>
                    <input id="checkDirect" type="checkbox" class="w3-check"> <label>Director</label>
                    <br>
                    <input id="checkGraphicDes" type="checkbox" class="w3-check"> <label>Graphic designer</label>
                    <br>
                    <input id="checkLight" type="checkbox" class="w3-check"> <label>Lighting/Electric</label>
                </form>
            </div>
            <div class="w3-col s6 m6 l6 w3-animate-opacity" id="advancedJoinCheckboxes2">
                <form class="w3-container">
                    <input id="checkPhot" type="checkbox" class="w3-check"> <label>Photographers</label>
                    <br>
                    <input id="checkPostProd" type="checkbox" class="w3-check"> <label>Post Production</label>
                    <br>
                    <input id="checkProducers" type="checkbox" class="w3-check"> <label>Producers</label>
                    <br>
                    <input id="checkFX" type="checkbox" class="w3-check"> <label>Special Effects Crew</label>
                    <br>
                    <input id="checkStyle" type="checkbox" class="w3-check"> <label>Stylist/Vanities</label>
                    <br>
                    <input id="checkActor" type="checkbox" class="w3-check" ng-model="showActorSpec" ng-init="showActorSpec = false"> <label>Talent/Actors</label>
                    <br>
                    <input id="checkCast" type="checkbox" class="w3-check"> <label>Talent/Casting</label>
                </form>
            </div>
        </div>
        <br>
        <label> </label>
        <br>
        <div id="searchCrewActorSpecific" ng-if="showActorSpec" class="w3-animate-opacity">
            <label>*Actor Specific Filters</label>
            <br>
            <br>
            <label>Age</label>
            <!--
            <br>
            <input type="number" name="actorAge" value="18" class="searchPageInputFields" min="0" max="100"><br>
            <br>-->
            <br>
            <rzslider rz-slider-model="slider3.minValue"
                      rz-slider-high="slider3.maxValue"
                      rz-slider-options="slider3.options"></rzslider>
            <br>
            <label>Ethnicity</label>
            <br>
            <div class="w3-col s12 m12 l12 w3-left w3-animate-opacity">

                <div class="w3-col s6 m6 l6 w3-animate-opacity" id="raceCheckBoxes">
                    <form class="w3-container">
                        <input id="etnCauc" type="checkbox" class="w3-check" checked> <label>Caucasian</label>
                        <br>
                        <input id="etnHisp" type="checkbox" class="w3-check"> <label>Latino/Hispanic</label>
                        <br>
                        <input id="etnSAsi" type="checkbox" class="w3-check"> <label>South Asian</label>
                        <br>
                        <input id="etnNati" type="checkbox" class="w3-check"> <label>Native American</label>

                    </form>
                </div>
                <div class="w3-col s6 m6 l6 w3-animate-opacity" id="raceCheckBoxes2">
                    <form class="w3-container">
                        <input id="etnAfri" type="checkbox" class="w3-check"> <label>African Descent</label>
                        <br>
                        <input id="etnMidd" type="checkbox" class="w3-check"> <label>Middle Eastern</label>
                        <br>
                        <input id="etnPaci" type="checkbox" class="w3-check"> <label>S/E Asian/Pacific Islander</label>
                        <br>
                        <input id="etnAmbi" type="checkbox" class="w3-check"> <label>Ethnically Ambiguous</label>

                    </form>
                </div>
            </div>
            <br>
            <label>Gender</label>
            <div style="color: #636466; margin-left: 5px;">
            <input id="checkFem" type="checkbox" class="w3-check" checked> <label>Female</label>
            <br>
            <input id="checkMal" type="checkbox" class="w3-check" checked> <label>Male</label>
            <br>
            </div>
        </div>
        <br>
        <!--
        <strong>Paid/Free v1</strong>
        <br>
        <div class="w3-col s12 m12 l12 w3-left w3-animate-opacity" id="chePayment" style="color: #636466;">
            <form class="w3-container" id="payRequest">
                <div class="w3-col s4 m4 l4 w3-animate-opacity">
                    <input type="radio" value="1" class="w3-radio l6 m6 s6" ng-model="payment" id="payYes"><label>Paid</label>
                </div>
                <div class="w3-col s4 m4 l4 w3-animate-opacity">
                <input type="radio" value="0" class="w3-radio l6 m6 s6" ng-model="payment" id="payNo"><label>Free</label>
                </div>
                <div class="w3-col s4 m4 l4 w3-animate-opacity">
                    <input type="radio" value="2" class="w3-radio l6 m6 s6" ng-model="payment" id="payBoth"><label>Both</label>
                </div>
            </form>
        </div>
        <br>
        <br>
        <br>
        -->
        <label>Paid/Free v2</label>
        <br>
        <div style="color: #636466; margin-left: 15px;">
            <input id="checkPay" type="checkbox" class="w3-check"> <label>Paid</label>
            <br>
            <input id="checkFre" type="checkbox" class="w3-check"> <label>Free</label>
            <br>
        </div>
        <br>
        <div ng-model="feedbackHelpCaption" ng-init="feedbackHelpCaption = false" ng-mouseenter="feedbackHelpCaption = true"  ng-mouseleave="feedbackHelpCaption = false">
        <label>Minimal Feedback</label>
        <rzslider rz-slider-model="slider2.value" style="display: inline-block"
                  rz-slider-options="slider2.options"></rzslider>
            <div id="helpCaption3" ng-if="feedbackHelpCaption" class="w3-animate-opacity">
                <br>
                Leave Minimal Feedback to 0 if you don't want to filter resluts by feedback
            </div>
            <div id="helpCaption4" ng-if="feedbackHelpCaption === false" class="w3-animate-opacity">
                <br>
                <br>
            </div>
        </div>
        <hr>
        <div id="searchCrewButtonContainer">
            <button class="w3-button w3-round-large" id="searchCrewButton" ng-click="launchSearch()">SEARCH!</button>
        </div>
    </div>

    <div id="searchCrewResults" class="w3-col l5 m5 s5 w3-card-2">
        <h3 style="text-align: center; font-family: 'ADAM.CG PRO';  color: white;">
            These are the people you're looking for
        </h3>

        <hr>
        <div id="foundUsersShow" class="w3-container w3-col l12 m12 s12">
            <div class="w3-container">
                <ul>
                    <li ng-repeat="user in filterSearch">
                        <div class=" w3-container w3-card-2"
                             style="padding: 10px; border-radius: 4mm; background-color: #333333; margin-right:50px">
                            <div class="w3-left" id="newUImgContainer">
                                <img class="media-object w3-left w3-circle" ng-src="../{{user.img_url}}" alt="{{user.img_alt}}" ng-if="!(user.img_url.includes('https://firebasestorage.googleapis.com')) && user.img_url!=''">
                                <img class="media-object w3-left w3-circle" ng-src="{{user.img_url}}" alt="{{user.img_alt}}" ng-if="user.img_url.includes('https://firebasestorage.googleapis.com')">
                                <img class="media-object w3-left w3-circle" ng-src="../images/StormTroupersLogo.png" alt="{{user.img_alt}}" ng-if="user.img_url == ''">
                            </div>
                            <div id="userDesc">
                                <div class="w3-container w3-row" style="text-align: left;">
                                    <a ng-click="goToPublicProfile(user.$id)" style="cursor: pointer; color: #636466">
                                        <h4 style="color: white;"><strong>{{user.name}} {{user.lastName}}</strong></h4>
                                    </a>
                                    <div style="color: lightgray;">
                                        <i class="w3-col s1 m1 l1 glyphicon glyphicon-map-marker w3-small"
                                           style="padding-top: 10px; color: white;"></i>
                                        <h5 class="w3-col s11 m11 l11">{{user.city}}, {{user.province}},
                                            {{user.country}}</h5>
                                    </div>
                                    <div style="color: lightgray;">
                                        <i class="w3-col s1 m1 l1 glyphicon glyphicon-briefcase w3-small" style="color: white;"></i>
                                        <h5><p id="friendRoles" ng-repeat="role in user.roles">{{role}} </p></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="w3-container w3-row w3-right" id="linkNewU">
                                <a ng-click="goToPublicProfile(user.$id)" class="w3-tooltip">
                                    <i class="glyphicon glyphicon-user w3-xlarge" style="color: lightgray;"></i>
                                    <h6 class="w3-center w3-text w3-tag"
                                        style="color: white; text-align: left; position:absolute;left: 0px; padding: 5px;">
                                        See {{user.name}}'s profile</h6>
                                </a>
                                <a ng-click="addUserToFriends(user.$id)" class="w3-tooltip" data-toggle="modal" data-target="#myModal">
                                    <i class="glyphicon glyphicon-screenshot w3-xlarge" style="color: lightgray;"></i>
                                    <h6 class="w3-center w3-text w3-tag"
                                        style="color: white; text-align: left; position:absolute;top: 0px; padding: 5px;">
                                        Connect with {{user.name}}</h6>
                                </a>
                            </div>
                        </div>
                        <br>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>

