#searchCrewTools{

    text-align: left;
    align-items:left;
    vertical-align: middle;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5));
    margin-left: 1%;
    padding: 5px 20px 20px 15px;

}
#searchCrewTools label{
    color: white;
}

#searchCrewResults{

    text-align: center;
    align-items: center;
    vertical-align: middle;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5));
    background-color: #333333;
    padding-bottom: 20px;
    margin-left: 1%;
    padding: 5px 20px 20px 15px;
}

#searchCrewKeyword{
    margin-left: 0px;
    margin-right: 10px;
}

#searchCrewCity{
    margin-left: 0px;
    margin-right: 10px;
}

.custom-slider.rzslider .rz-pointer { /*sta roba non funziona un cazzo, per ora, magari poi funziona */
    width: 8px;
    height: 16px;
    top: auto; /* to remove the default positioning */
    bottom: 0;
    background-color: #333;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

#advancedJoinCheckboxes{
     display: inline-block;
     justify-content:left;
     align-items:center;
     text-align: left;
     font-size: 8pt;
     color: #636466;
 }

#advancedJoinCheckboxes2{
    display: inline-block;
    justify-content:left;
    align-items:center;
    text-align: left;
    font-size: 8pt;
    color: #636466;
}

#helpCaption {
    font-size: 9pt;
    color: ghostwhite;
}

#helpCaption2 {
    font-size: 9pt;
}

#helpCaption5 {
    font-size: 9pt;
    color: indianred;
}

#raceCheckBoxes{
    display: inline-block;
    justify-content:left;
    align-items:center;
    text-align: left;
    font-size: 8pt;
    color: #636466;
}

#raceCheckBoxes2{
    display: inline-block;
    justify-content:left;
    align-items:center;
    text-align: left;
    font-size: 8pt;
    color: #636466;
}



#searchCrewActorSpecific{
    margin-left: 0px;
    margin-right: 0px;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5));
    background-color: #333333;
    border-color: black;
    border-width: 3px;
    border-radius: 5px;
    padding-bottom:10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.searchPageInputFields {
    color: white;
    background-color: rgba(80,80,80,165);
    border-style: none;
    border-width: 1px;
    border-radius: 5px;
    text-align: left;
    vert-align: bottom;
    width: 100%;
    height: 32px;
    padding-right: 10px;
    padding-left: 10px;

}

/*#searchPageInputFields::-webkit-input-placeholder{
    color: white;
}

/*
#chePayment{
    display: inline-block;
    justify-content:center;
    align-items:center;
    text-align: left;
}

#payNo {
    margin-left: 15px;
}
*/

#searchCrewButtonContainer {
    width: 100%;
    display: inline-block;
    align-items: center;
    horiz-align: center;
}


#searchCrewButton {
    display: flex;
    color: white;
    background-color: black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#checkallButtonContainer {
    width: 20%;
    display: block;
    align-items: left;
    horiz-align: left;
}

#uncheckallButtonContainer {
    width: 20%;
    display: block;
    align-items: left;
    horiz-align: left;
}


#checkallButton {
    display: flex;
    color: white;
    background-color: black;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

#uncheckallButton {
    display: flex;
    color: white;
    background-color: black;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

#foundUsersShow{
    /*Per centrare il contenuto*/
    text-align: center;
    align-items:center;
    vertical-align: middle;
    padding-top: 35px;
}

#foundUsersShow h4{
    font-family: "ADAM.CG PRO";
    color: white;
}

#foundUsersShow li{
    list-style: none;
    margin-left: -40px;
}

#foundUImg{
    content: url("../../images/StormTroupersLogo.png");
    max-height: 75px;
}

#foundUImgContainer{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items:center;
    vertical-align: middle;
}

#foundUDesc{
    color: #636466;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items:center;
    vertical-align: middle;
}

#foundUDesc h4{
    color: #636466;
}

#linkNewU{
    display: flex;
    justify-content: right;
    text-align: right;
    align-items:right;
    vertical-align: middle;
}

#linkNewU a{
    text-decoration: none;
    color: #636466;
    margin: 10px;
}

#linkNewU a:hover{
    cursor: pointer;
}