.w3-top{
    overflow: visible;
}

#topBarHome{
    background-color: #b7c3b8;
    /*Per centrare il contenuto*/
    display:flex;

    align-items:center;
    height: 60px;
}

#userNameHome{
    font-family: "ADAM.CG PRO";
}

#logoBarImgHome{
    content: url("../../images/StormTroupersLogo.png");
    width: 50px;
    height: 50px;
}

#logoBarImgContainerHome{
    position: absolute;
    right: 0px;
    margin-right: 20px;
}

#logoBarHome{
    position: absolute;
    right: 50px;
    margin-right: 20px;
}

#homeLinkHome{
    color: #636466;
}

#userLinkHome{
    color: #636466;
}

#projectsLinkHome{
    color: #636466;
}

#searchItemHome{
    max-width: 30%;

}

#bodyHome{
    margin-top: 100px;
    margin-bottom: 50px;
}

#sideUserHome{

    /*Per centrare il contenuto*/
    text-align: center;
    align-items:center;
    vertical-align: middle;
    background-color: #b7c3b8;
    padding-bottom: 20px;
}

#userNameAndLastHome{
    color: #636466;
    font-family: "ADAM.CG PRO";
}

#userPhotoHome{
    content: url("../../images/StormTroupersLogo.png");
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    padding: 10px 10px 10px 10px;
    border-radius: 7px;
}

#sideUserHome a {
    color: #636466;
    font-size: 15pt;
    position: relative;

}


#sideUserHome a:hover{
    color: #636466;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
}

#searchCrewTools{

    text-align: left;
    align-items:left;
    vertical-align: middle;
    background-color: #b7c3b8;
    margin-left: 1%;
    padding: 5px 20px 20px 15px;

}

#searchCrewResults{

    text-align: center;
    align-items: center;
    vertical-align: middle;
    background-color: #b7c3b8;
    padding-bottom: 20px;
    margin-left: 1%;
    padding: 5px 20px 20px 15px;
}

#searchCrewKeyword{
    margin-left: 0px;
    margin-right: 10px;
}

#searchCrewCity{
    margin-left: 0px;
    margin-right: 10px;
}

.custom-slider.rzslider .rz-pointer { /*sta roba non funziona un cazzo, per ora, magari poi funziona */
    width: 8px;
    height: 16px;
    top: auto; /* to remove the default positioning */
    bottom: 0;
    background-color: #333;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

#advancedJoinCheckboxes{
    display: inline-block;
    justify-content:left;
    align-items:center;
    text-align: left;
    font-size: 8pt;
}

#advancedJoinCheckboxes{
    color: #636466;
}

#advancedJoinCheckboxes2{
    display: inline-block;
    justify-content:left;
    align-items:center;
    text-align: left;
    font-size: 8pt;
}

#advancedJoinCheckboxes2{
    color: #636466;
}

#searchCrewActorSpecific{
    margin-left: 0px;
    margin-right: 0px;
    background-color: lightcoral;
    border-color: black;
    border-width: 3px;
    border-radius: 5px;
    padding-bottom:10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.searchPageInputFields {
    color: white;
    background-color: rgba(80,80,80,165);
    border-style: none;
    border-width: 1px;
    border-radius: 5px;
    text-align: right;
    vert-align: bottom;
    width: 100%;
    height: 32px;
    padding-right: 10px;
    padding-left: 10px;

}

/*#searchPageInputFields::-webkit-input-placeholder{
    color: white;
}

/*
#chePayment{
    display: inline-block;
    justify-content:center;
    align-items:center;
    text-align: left;
}

#payNo {
    margin-left: 15px;
}
*/

#searchCrewButtonContainer {
    width: 100%;
    display: inline-block;
    align-items: center;
    horiz-align: center;
}


#searchCrewButton {
    display: flex;
    color: white;
    background-color: black;
    text-align: center;
    align-items: center;
    justify-content: center;
}

