#projectContainer{
    /*Per centrare il contenuto*/
    text-align: center;
    align-items:center;
    vertical-align: middle;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5));
    background-color: #333333;
    padding-bottom: 20px;
}

#projectContainer h2{
    color: white;
    text-shadow: 2px 2px 4px #333333;
    font-size: 60px;
}

#projectContainer h4{
    color: white;
}

#containerTroupe{
    max-width: 100%;
}

#troupeUserImg{
    content: url("../../images/StormTroupersLogo.png");
    max-height: 40px;
    margin: 5px;
}

#troupeUserImgLink img{
    max-height: 40px;
    margin: 5px;
}

#flowImage{
    /* The image used */
    background-image: url("../../images/troopers.jpg");

    /* Set a specific height */
    min-height: 350px;
    border-top-left-radius: 4mm;
    border-top-right-radius: 4mm;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /*Per centrare il contenuto*/
    display:flex;
    justify-content:center;
    align-items:center;
    padding: 0;
}

#likePanel{
    display: flex;
    text-align: center;
    align-items:center;
    vertical-align: middle;
    padding-left:10px;
    padding-right:10px;;
}

#likePanelHover a:hover{
    cursor: pointer;
}

#likePanel2{
    display: flex;
    text-align: center;
    align-items:center;
    vertical-align: middle;
    padding-left:10px;
    padding-right:10px;;
}

#likePanelHover2 a:hover{
    cursor: pointer;
}