<div class="w3-container w3-bar w3-top w3-card-2" id="topBarHome">


    <a class="w3-bar-item w3-button" id="homeLinkHome" ng-click="goToDashboard()"><i
            class="glyphicon glyphicon-home w3-large"></i></a>
    <a class="w3-bar-item w3-button" id="userLinkHome" ng-click="goToSearchCrew()"><i
            class="glyphicon glyphicon-user w3-large"></i> Search Crew</a>
    <a class="w3-bar-item w3-button" id="projectsLinkHome" ng-click="goToSearchProjects()"><i class="glyphicon glyphicon-film w3-large"></i> Search Projects</a>


    <!--
        <div class="w3-bar-item w3-dropdown-click" id="typeSearchHome">
            <a ng-click="showSearchItem()" class=" glyphicon glyphicon-search w3-large" id="searchIconHome"></a>
            <div class="w3-dropdown-content w3-bar-block w3-border" id="typeSearchContentHome">
                <a href="#" class="w3-bar-item w3-button"><i class="glyphicon glyphicon-user"></i> Search Troupers</a>
                <a href="#" class="w3-bar-item w3-button"><i class="glyphicon glyphicon-project"></i> Search Projects</a>
            </div>
        </div>
        <input class="w3-input w3-border" type="text" id="searchBarHome">-->

    <form id="searchItemHome">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
        </div>
    </form>

    <div class="w3-bar-item w3-right" id="logoChatBarHome"><span><a href="#!/usersList"><i
            class="w3-right glyphicon glyphicon-comment w3-xlarge" style="color: white;"></i></a></span></div>

    <div class="w3-bar-item w3-dropdown-click w3-right" id="logoBarHome" ng-click="showLogoItem()">
        {{profile.name}}
        <div class="w3-dropdown-content w3-bar-block w3-border w3-right" id="logoBarContentHome">
            <a ng-click="goToMyPublicProfile()" class="w3-bar-item w3-button"><i class="glyphicon glyphicon-user w3-large"></i> Your Public
                Profile</a>
            <a ng-click="goToEditProfile()" class="w3-bar-item w3-button"><i
                    class="glyphicon glyphicon-pencil w3-large"></i> Edit Profile</a>
            <a ng-click="logout()" class="w3-bar-item w3-button"><i class="glyphicon glyphicon-off w3-large"></i> Logout</a>
        </div>
    </div>

    <div id="logoBarImgContainerHome">
        <img class="media-object" ng-src="../{{profile.img_url}}" alt="{{profile.img_alt}}" ng-if="!(profile.img_url.includes('https://firebasestorage.googleapis.com')) && profile.img_url!=''">
        <img class="media-object" ng-src="{{profile.img_url}}" alt="{{profile.img_alt}}" ng-if="profile.img_url.includes('https://firebasestorage.googleapis.com')">
        <img class="media-object" ng-src="../images/StormTroupersLogo.png" alt="{{profile.img_alt}}" ng-if="profile.img_url == ''">
    </div>

</div>

<div id="bodyHome" class="w3-container w3-col l12 s12 m12">
    <div id="sideUserHome" class="w3-col l3 m3 s3 w3-card-2" style="background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5));">
        <h3 id="userNameAndLastHome">{{profile.name}} {{profile.lastName}}</h3>
        <p id="userRolesHome"></p>
        <p id="userCityHome"></p>
        <div id="userPhotoHome">
            <img class="media-object" ng-src="../{{profile.img_url}}" alt="{{profile.img_alt}}" ng-if="!(profile.img_url.includes('https://firebasestorage.googleapis.com')) && profile.img_url!=''">
            <img class="media-object" ng-src="{{profile.img_url}}" alt="{{profile.img_alt}}" ng-if="profile.img_url.includes('https://firebasestorage.googleapis.com')">
            <img class="media-object" ng-src="../images/StormTroupersLogo.png" alt="{{profile.img_alt}}" ng-if="profile.img_url == ''">
        </div>
        <br>
        <a ng-click="goToMyProjects()" class="w3-bar-item" id="userProjectHome">My Projects <i
                class="glyphicon glyphicon-film w3-large"></i></a><br><br>
        <a ng-click="goToMyTroupers(profile.$id)" class="w3-bar-item" id="userTroupeHome">My Troupers <i class="glyphicon glyphicon-user w3-large"></i></a><br><br>
        <a ng-click="goToEditProfile()" class="w3-bar-item" id="editProfileLinkHome">Edit Profile <i
                class="glyphicon glyphicon-cog w3-large"></i></a>
    </div>

    <div id="myProjectsContainer" class="w3-col w3-card-2 l8 m8 s8">
        <div>
            <h2 class="w3-col s11 m11 l11" style="color: white; margin-top: 20px">My Projects</h2>
            <div class="w3-col s1 m1 l1">
                <div class="w3-tooltip">
                    <a ng-click="goToNewProject()">
                        <i class="glyphicon glyphicon-plus w3-xxlarge w3-left"
                           style="color: white; cursor: pointer; margin-left: 10px; margin-top: 20px"></i>
                    </a>
                    <h6 class="w3-center w3-text w3-tag"
                        style="color: white; text-align: left; position:absolute;top: 0px; padding: 5px;">Create a new
                        project!</h6>
                </div>
            </div>
        </div>
        <div class="w3-row w3-container w3-col s12 m12 l12">
            <ul style="list-style: none">
                <li ng-repeat="prj in filterProjects">
                    <div id="projectXPanel" class="w3-panel w3-card-2 w3-col l12 m12 s12">
                        <div class="w3-row w3-col l3 m3 s3 w3-left">
                            <img id="projectXimg">
                        </div>
                        <div id="projectXLink" class="w3-col l9 m9 s9">
                            <h4><a class="w3-left w3-col l10 m10 s10" ng-click="goToEditProjectX(prj.$id)">
                                <strong>{{prj.title}}</strong>
                            </a></h4>
                            <a><i class="w3-right w3-col l1 m1 s1 glyphicon glyphicon-pencil w3-xlarge"
                                  ng-click="goToEditProjectX(prj.$id)"></i></a>
                            <br>
                            <hr style="margin-left: 7px; margin-right: 6px;">
                            <ul class="w3-left" style="list-style: none; text-align: left; padding-left: 25px; color: gray;">
                                <li>{{prj.type}}</li>
                                <li>{{prj.progress}}</li>
                            </ul>
                        </div>

                        <!--div per vedere i membri della troupe-->
                        <div id="containerTroupe" class="row w3-container w3-right w3-col s8 m8 l8">
                            <div class="w3-row w3-right">
                                <h4 style="margin: 0; color: lightgray;"> The Troupe: </h4>
                            </div>
                            <div class="w3-row w3-col l12 m12 s12" style="align-content: center">
                                <ul class="w3-right" style="margin-bottom: 20px; padding: 0;">
                                    <li ng-repeat="user in prj.troupers"
                                        style="display: inline-block; list-style: none; padding-top: 10px">
                                        <a id="troupeUserImgLink" ng-click="goToPublicProfile(user)">
                                            <img class="media-object w3-circle"  ng-src="../{{user.img_url}}" alt="{{user.img_alt}}" ng-if="!(user.img_url.includes('https://firebasestorage.googleapis.com')) && user.img_url!=''">
                                            <img class="media-object w3-circle"  ng-src="{{user.img_url}}" alt="{{user.img_alt}}" ng-if="user.img_url.includes('https://firebasestorage.googleapis.com')">
                                            <img class="media-object w3-circle"  ng-src="../images/StormTroupersLogo.png" alt="{{user.img_alt}}" ng-if="user.img_url == ''">
                                            <img
                                                id="troupeUserImg" alt="Avatar" class="w3-circle">
                                        </a>
                                        <!--<h4><a ng-click="goToPublicProfile(user)">{{user}}</a></h4>-->
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <br>
                </li>
            </ul>


        </div>

    </div>

</div>

