<div class="w3-container w3-bar w3-top w3-card-2" id="topBarHome">


    <a class="w3-bar-item w3-button" id="homeLinkHome" ng-click="goToDashboard()"><i
            class="glyphicon glyphicon-home w3-large"></i></a>
    <a class="w3-bar-item w3-button" id="userLinkHome" ng-click="goToSearchCrew()">Search Crew</a>
    <a class="w3-bar-item w3-button" id="projectsLinkHome" ng-click="goToSearchProjects()">Search Projects</a>


    <!--
        <div class="w3-bar-item w3-dropdown-click" id="typeSearchHome">
            <a ng-click="showSearchItem()" class=" glyphicon glyphicon-search w3-large" id="searchIconHome"></a>
            <div class="w3-dropdown-content w3-bar-block w3-border" id="typeSearchContentHome">
                <a href="#" class="w3-bar-item w3-button"><i class="glyphicon glyphicon-user"></i> Search Troupers</a>
                <a href="#" class="w3-bar-item w3-button"><i class="glyphicon glyphicon-project"></i> Search Projects</a>
            </div>
        </div>
        <input class="w3-input w3-border" type="text" id="searchBarHome">-->

    <form id="searchItemHome">
        <div class="input-group">
            <input id="searchItemHomeKeyword" type="text" class="form-control" placeholder="Search"
                   ng-submit="launchSearchInSearchPage()">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit" ng-click="launchSearchInSearchPage()">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
        </div>
    </form>

    <div class="w3-bar-item w3-right" id="logoChatBarHome"><span><a href="#!/usersList"><i
            class="w3-right glyphicon glyphicon-comment w3-xlarge" style="color: white"></i></a></span></div>
    <div class="w3-bar-item w3-right w3-dropdown-hover" id="logoReminderBarHome">
        <span>
            <i class="w3-right glyphicon glyphicon-bell w3-xlarge" style="color: white;"></i>
        </span>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;mode=AGENDA&amp;height=200&amp;wkst=1&amp;bgcolor=%23999999&amp;src=r7sjqm37dleu42bjdb59r1j500%40group.calendar.google.com&amp;color=%23691426&amp;ctz=Europe%2FRome"
                    style="border-width:0" min-width="400" width="100%" height="300" frameborder="0"
                    scrolling="no"></iframe>
            <a ng-repeat="reminder in dati.reminders | filter:{user: profile.$id} | filter:{date:dati.currentDate}"
               class="w3-bar-item w3-button">
                <i class="glyphicon glyphicon-exclamation-sign w3-large w3-center" style="padding-right:4px"></i>
                <strong>{{reminder.projectName}}:</strong> {{reminder.reminder}}</a>
            <!--<a ng-repeat="role in profile.roles" class="w3-bar-item w3-button">{{role}}</a>-->
        </div>
    </div>

    <div class="w3-bar-item w3-dropdown-click w3-right" id="logoBarHome" ng-click="showLogoItem()">
        {{profile.name}}
        <div class="w3-dropdown-content w3-bar-block w3-border w3-right" id="logoBarContentHome">
            <a ng-click="goToMyPublicProfile()" class="w3-bar-item w3-button"><i
                    class="glyphicon glyphicon-user w3-large"></i> Your Public
                Profile</a>
            <a ng-click="goToEditProfile()" class="w3-bar-item w3-button"><i
                    class="glyphicon glyphicon-pencil w3-large"></i> Edit Profile</a>
            <a ng-click="logout()" class="w3-bar-item w3-button"><i class="glyphicon glyphicon-off w3-large"></i> Logout</a>
        </div>
    </div>

    <div id="logoBarImgContainerHome">
        <img class="media-object" ng-src="../{{profile.img_url}}" alt="{{profile.img_alt}}"
             ng-if="!(profile.img_url.includes('https://firebasestorage.googleapis.com')) && profile.img_url!=''">
        <img class="media-object" ng-src="{{profile.img_url}}" alt="{{profile.img_alt}}"
             ng-if="profile.img_url.includes('https://firebasestorage.googleapis.com')">
        <img class="media-object" ng-src="../images/StormTroupersLogo.png" alt="{{profile.img_alt}}"
             ng-if="profile.img_url == ''">
    </div>

</div>


<div id="bodyHome" class="w3-container w3-col l12 s12 m12">
    <div id="sideUserHome" class="w3-col l3 m3 s3 w3-card-2">
        <h3 id="userNameAndLastHome">{{profile.name}} {{profile.lastName}}</h3>
        <p id="userRolesHome"></p>
        <p id="userCityHome"></p>
        <div id="userPhotoHome">
            <img class="media-object" ng-src="../{{profile.img_url}}" alt="{{profile.img_alt}}"
                 ng-if="!(profile.img_url.includes('https://firebasestorage.googleapis.com')) && profile.img_url!=''">
            <img class="media-object" ng-src="{{profile.img_url}}" alt="{{profile.img_alt}}"
                 ng-if="profile.img_url.includes('https://firebasestorage.googleapis.com')">
            <img class="media-object" ng-src="../images/StormTroupersLogo.png" alt="{{profile.img_alt}}"
                 ng-if="profile.img_url == ''">
        </div>
        <br>
        <a ng-click="goToMyProjects()" class="w3-bar-item" id="userProjectHome">My Projects <i
                class="glyphicon glyphicon-film w3-large"></i></a><br><br>
        <a ng-click="goToMyTroupers(profile.$id)" class="w3-bar-item" id="userTroupeHome">My Troupers <i
                class="glyphicon glyphicon-user w3-large"></i></a><br><br>
        <a ng-click="goToMyApplications()" class="w3-bar-item" id="userApplicationHome">My Applications <i
                class="glyphicon glyphicon-briefcase w3-large"></i></a><br><br>
        <a ng-click="goToEditProfile()" class="w3-bar-item" id="editProfileLinkHome">Edit Profile <i
                class="glyphicon glyphicon-cog w3-large"></i></a>
    </div>

    <div id="myProjectsContainer" class="w3-col w3-card-2 l8 m8 s8">
        <div>
            <h2 class="w3-col s11 m11 l11" style="color: white; margin-top: 20px">My Projects</h2>
            <div class="w3-col s1 m1 l1">
                <div class="w3-tooltip">
                    <a ng-click="goToNewProject()">
                        <i class="glyphicon glyphicon-plus w3-xxlarge w3-left"
                           style="color: white; cursor: pointer; margin-left: 10px; margin-top: 20px"></i>
                    </a>
                    <h6 class="w3-center w3-text w3-tag"
                        style="color: white; text-align: left; position:absolute;top: 0px; padding: 5px;">Create a new
                        project!</h6>
                </div>
            </div>
        </div>
        <div class="w3-row w3-container w3-col s12 m12 l12">
            <ul style="list-style: none">
                <li ng-repeat="prj in filterProjects">
                    <div id="projectXPanel" class="w3-panel w3-card-2 w3-col l12 m12 s12">
                        <div class="w3-row w3-col l3 m3 s3 w3-left" id="projectXimg">
                            <img class="media-object w3-circle" ng-src="../{{prj.img_url}}"
                                 ng-if="!(prj.img_url.includes('https://firebasestorage.googleapis.com')) && prj.img_url!=''">
                            <img class="media-object w3-circle" ng-src="{{prj.img_url}}"
                                 ng-if="prj.img_url.includes('https://firebasestorage.googleapis.com')">
                            <img class="media-object w3-circle" ng-src="../images/Kim-Jong-n2000.jpg"
                                 ng-if="prj.img_url == ''">
                        </div>
                        <div id="projectXLink" class="w3-col l8 m8 s8">
                            <h4><a class="w3-left w3-col l8 m8 s8" ng-click="goToPublicProjectPage(prj.$id)">
                                <strong>{{prj.title}}</strong>
                            </a></h4>
                            <a class="w3-tooltip"><i class="w3-right w3-col l1 m1 s1 glyphicon glyphicon-pencil w3-xlarge"
                                  ng-click="goToEditProjectX(prj.$id)"></i>
                                <h6 class="w3-center w3-text w3-tag" style="color: white; text-align: right; position:absolute;top: 20px;left: 120px; padding: 5px;">
                                    Edit this project
                                </h6>
                            </a>
                            <a class="w3-tooltip"><i class="w3-right w3-col l1 m1 s1 glyphicon glyphicon-file w3-xlarge"
                                  ng-click="goToEditor(prj.$id)"></i>
                                <h6 class="w3-center w3-text w3-tag" style="color: white; text-align: right; position:absolute;top: 20px;left: 80px; padding: 5px;">
                                Go to Documents
                                </h6>
                            </a>
                            <a class="w3-tooltip"><i class="w3-right w3-col l1 m1 s1 glyphicon glyphicon-calendar w3-xlarge"
                                  ng-click="goToCalendar(prj.$id)"></i>
                                <h6 class="w3-center w3-text w3-tag" style="color: white; text-align: right; position:absolute;top: 20px;left: 40px; padding: 5px;">
                                See this project's planning
                                </h6>
                            </a>
                            <a class="w3-tooltip"><i class="w3-right w3-col l1 m1 s1 glyphicon glyphicon-bell w3-xlarge"
                                  ng-click="saveCurrentProject(prj.$id, prj.title)" data-toggle="modal"
                                  data-target="#myModal"></i>
                                <h6 class="w3-center w3-text w3-tag" style="color: white; text-align: right; position:absolute;top: 20px;left: 0px; padding: 5px;">
                                Create a reminder for this project
                                </h6>
                            </a>
                            <br>
                            <hr style="margin-left: 7px; margin-right: 6px;">
                            <ul class="w3-left"
                                style="list-style: none; text-align: left; padding-left: 25px; color: gray;">
                                <li>{{prj.type}}</li>
                                <li>{{prj.progress}}</li>
                            </ul>
                        </div>

                        <!--div per vedere i membri della troupe
                        <div id="containerTroupe" class="row w3-container w3-right w3-col s8 m8 l8">
                            <div class="w3-row w3-right">
                                <h4 style="margin: 0; color: lightgray;"> The Troupe: </h4>
                            </div>
                            <div class="w3-row w3-col l12 m12 s12" style="align-content: center">
                                <ul class="w3-right" style="margin-bottom: 20px; padding: 0;">
                                    <li ng-repeat="user in prj.troupers"
                                        style="display: inline-block; list-style: none; padding-top: 10px">
                                        <a id="troupeUserImgLink" ng-click="goToPublicProfile(user)">
                                            <img class="media-object w3-circle"  ng-src="../{{user.img_url}}" alt="{{user.img_alt}}" ng-if="!(user.img_url.includes('https://firebasestorage.googleapis.com')) && user.img_url!=''">
                                            <img class="media-object w3-circle"  ng-src="{{user.img_url}}" alt="{{user.img_alt}}" ng-if="user.img_url.includes('https://firebasestorage.googleapis.com')">
                                            <img class="media-object w3-circle"  ng-src="../images/StormTroupersLogo.png" alt="{{user.img_alt}}" ng-if="user.img_url == ''">
                                        </a>
                                        <h4><a ng-click="goToPublicProfile(user)">{{user}}</a></h4>
                                    </li>
                                </ul>
                            </div>
                        </div>-->
                    </div>

                    <br>
                </li>
            </ul>

        </div>

    </div>

</div>


<div class="modalContainer">
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 style="color:red;"><span class="glyphicon glyphicon-bell"></span> Create a reminder for <strong>{{dati.projectNameReminder}}</strong>
                    </h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <label><span class="glyphicon glyphicon-list"></span> What I need to remember:</label>
                            <input ng-model="dati.reminder" type="text" class="form-control"
                                   placeholder="Write here...">
                        </div>
                        <div class="form-group">
                            <label><span class="glyphicon glyphicon-calendar"></span> When:</label>
                            <input ng-model="dati.date" type="text" class="form-control"
                                   placeholder="(yyyy-mm-dd)">
                        </div>
                        <button ng-click="addReminder()" type="submit" class="btn btn-default btn-success btn-block"
                                data-dismiss="modal">
                            Create
                        </button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default btn-default pull-left" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove"></span> Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

